[2014-06-27 18:00] anexation opened #1 "Control Centre Bugs"
Control Centre Bugs -

1) power button does not work, if pressed have to do hard reset ';]

2) Under personalization > icons - the drop down menu does not work

3) Can't type at all in the control centre

4) Can't change any power management options, you click on one and does nothing

http://www.linuxdeepin.com/mantis/view.php?id=3510
http://www.linuxdeepin.com/mantis/view.php?id=3509
http://www.l

[2014-06-29 07:21] anexation opened #2 "Some Dock Applets missing after last update"
only volume clock, and trash applets showing after update

http://www.linuxdeepin.com/mantis/view.php?id=3513

[anex@deep ~]$ dde-dock-applets
Create ControlCenter remote object failed :  "Could not get owner of name 'com.deepin.dde.ControlCenter': no such name"
qml: ==> [info] Status Changed: disk_mount true
qml: set_show_applet: date_time
Register: true
Create LunarCalendar remote object failed

[2014-07-01 02:41] fasheng opened #3 "Some shortcuts not working"

[2014-07-01 02:46] fasheng opened #4 "The default deepin theme rendering window title bar failed"

[2014-07-05 09:12] fasheng opened #5 "Install arch-deepin through obs with problems"
I have two problems when Installing arch-deepin in a cleaned archlinux through the following command:

[code]

Firstly, pacman will download some packages failed:

[code]

Then, after I download and installed them manually, run the previous command will report errors again, seems like checking package's sha256sum failed:

[code]

I remember it's all OK about two weeks ago, is I forget something th

[2014-07-05 10:04] #5 closed, assigned to nobody

[2014-07-05 14:49] fasheng opened #6 "dde-dock failed to start after login"

[2014-07-05 14:51] fasheng opened #7 "dde-launcher start time is too long"

[2014-07-05 14:52] fasheng opened #8 "dde-shutdown will block screen when press ctrl-alt-delete"

[2014-07-05 14:53] fasheng opened #9 "Could not input anything in dde-control-center"

[2014-07-05 14:55] fasheng opened #10 "There is no icon themes to choose in personalize panel"

[2014-07-05 14:57] fasheng opened #11 "Full of dde-api/set-date-time errors in /var/log/deepin.log"
[code]

[2014-07-05 15:01] fasheng opened #12 "Could not run dde-session-daemon manually"
Run following command:

[code]

Then will print errors:

[code]

[2014-07-05 15:02] fasheng opened #13 "Device switches in network panel not working"
dde-control-center error message:

[code]

[2014-07-05 15:02] fasheng opened #14 "Mouse settings not working"
Caused by Qt 5.3, upstream has been updated.
https://github.com/fasheng/arch-deepin/issues/21

[2014-07-05 15:03] fasheng opened #15 "Could not change user icon in account panel"

[2014-07-05 15:03] fasheng opened #16 "Power settings not working"

[2014-07-05 15:11] fasheng opened #17 "dde-zone will make screen blocked when setup screen corner navigation"

[2014-07-06 05:26] fasheng opened #18 "deepin-notification not working"
Error message:

[code]

[2014-07-06 05:56] fasheng opened #19 "Use "http://packages.linuxdeepin.com" instead of "http://test.packages.linuxdeepin.com" as default package server"
Affected packages:

golang-graphics-go
python2-deepin-xrandr
deepin-pygtk
deepin-webkit
deepin-cursor-theme
deepin-artwork
golang-jamslam-freetype-go
deepin-icon-theme-v2013
dde-account-faces
golang-gettext-go
python2-ass
golang-gocheck
deepin-vte-plus
deepin-gtk-theme
golang-sqlite3

[2014-07-06 08:27] fasheng opened #20 "nm-applet shouldn't start automatically in dde"
@mmetak, update `dde-daemon.install` to fix this issue please,

[code]

[2014-07-06 08:56] #12 closed, assigned to nobody

[2014-07-06 10:53] fasheng opened #21 "All dbus property settings not work in dde-control-center"
Looks like the issue is caused by Qt 5.3:

[code]

[2014-07-07 08:22] #19 closed, assigned to mmetak

[2014-07-07 08:23] #20 closed, assigned to mmetak

[2014-07-09 11:53] fasheng opened #22 "dde-session-daemon crashed"
version: dde-daemon 0.0.1.git20140707~7534ca1-0

Upstream updated, wait for obs next update.

@anexation

[2014-07-11 12:07] #9 closed, assigned to fasheng

[2014-07-11 12:08] #7 closed, assigned to fasheng

[2014-07-11 12:08] #6 closed, assigned to fasheng

[2014-07-11 12:09] #8 closed, assigned to fasheng

[2014-07-11 12:09] #13 closed, assigned to fasheng

[2014-07-11 12:09] #14 closed, assigned to fasheng

[2014-07-11 12:09] #16 closed, assigned to fasheng

[2014-07-11 12:09] #18 closed, assigned to fasheng

[2014-07-11 12:09] #21 closed, assigned to fasheng

[2014-07-11 12:09] #22 closed, assigned to fasheng

[2014-07-11 12:10] #17 closed, assigned to fasheng

[2014-07-11 12:16] fasheng opened #23 "Could not change themes for dde-desktop or dde-dock"
Could not change themes for dde-desktop or dde-dock, they use "Deepin" theme as default for now.
https://github.com/linuxdeepin/dde/blob/master/app/dock/dock.c#L567

@anexation

[2014-07-11 12:17] #1 closed, assigned to fasheng

[2014-07-24 09:04] fasheng opened #24 "dde-control-center always show english text even through $LC_ALL changed"

[2014-07-24 09:05] fasheng opened #25 "dde-dock and dde-control-center crashed after updating"

[2014-07-24 09:07] fasheng opened #26 "dde-control-center/network not works now"

[2014-08-02 08:00] fasheng opened #27 "install package through Makefile or setup.py in PKGBUILDs"
The work of upstream is still in process...

- [X] deepin-menu
  https://gitcafe.com/Deepin/deepin-menu/blob/master/setup.py
- [X] deepin-daemon
  https://gitcafe.com/Deepin/dde-daemon/blob/master/Makefile
- [X] deepin-api
  https://gitcafe.com/Deepin/dde-api/blob/master/Makefile
- [X] go-dlib
  https://gitcafe.com/Deepin/go-lib/blob/master/Makefile
- [x] deepin-terminal
  https://gitcafe.com/Deep

[2014-08-02 08:22] fasheng opened #28 "Changes in the organization of the upstream code"
Deepin decided to manage code in gitcafe(https://gitcafe.com/Deepin/) instead of github, but will synchronize the code to github weekly, and the code organization will become more reasonable, including adding code review mechanism through gerrit, this will affect git branch model of source code, and we should get source from "master" branch instead of "develop" or other branch in OBS.

[2014-08-06 01:05] fasheng opened #29 "fix package build issues in the new obs repository"
new obs repository:
https://build.opensuse.org/project/show/home:fasheng:arch-deepin

build issues caused by lzo2/lzo conflict:
http://article.gmane.org/gmane.linux.suse.opensuse.buildservice/21364/match=
https://github.com/openSUSE/obs-build/issues/123

[2014-08-25 13:03] #28 closed, assigned to nobody

[2014-08-25 13:03] #29 closed, assigned to nobody

[2014-08-26 16:13] #15 closed, assigned to mmetak

[2014-08-26 16:13] #25 closed, assigned to nobody

[2014-08-26 16:13] #26 closed, assigned to nobody

[2014-08-26 16:14] #10 closed, assigned to fasheng

[2014-08-27 08:07] #11 closed, assigned to fasheng

[2014-08-27 09:21] #3 closed, assigned to fasheng

[2014-08-28 11:58] #2 closed, assigned to nobody

[2014-08-29 22:44] stobbsm opened #30 "Multi Monitors second screen doesn't allow maximize to use whole screen"
I have 2 monitors on my desktop, which was detected perfectly. All hot corners are on first monitor (as expected, for me at least), but when I try to maximize a window on the second display, the space where the bottom bar would be does not get used.

Also just noticed that when dock is set to auto-hide or stay hidden, you still can't maximize windows properly.

[2014-09-05 11:19] corrosiontears opened #31 "Deepin Desktop not working"
I tried to install, follow your instructions and not working. The desktop does not loading compiz. Crashing at start.

(Sorry for my bad English)

[2014-09-05 16:26] #31 closed, assigned to nobody

[2014-09-06 19:44] colsephiroth opened #32 "Installed icon themes not listed under Control panel>Personalization>Icon"
I have multiple installed but the only ones listed are Deepin and Deepin-2013.
Although I was able to use to them by modifying ~/.local/share/personalization/themes/Custom/theme.ini

[2014-09-06 19:47] colsephiroth opened #33 "Dock clock does not change between 24hr and 12hr"
Happens in Efficient mode, Classic mode, and Fashion mode.

[2014-09-06 20:21] eloc574 opened #34 "Desktop Computer and Trash icons unremovable"
Both in Efficient mode and Classic mode.
Trash icon also undockable in Fashion mode.
Was not able to find any way to remove these icons.

[2014-09-06 20:47] colsephiroth opened #35 "Add other dock items to the right-click menu on the dock"
I just use the corner-navigation feature to open the launcher. So it would be nice if I could remove the launcher from the dock, as it is just wasting space at the moment.

This might be a good solution to those of us that do not want certain icons on their dock but would make it easy to enable and disable them incase a user accidently removed one of them.

A mockup of this would be:

right-click

[2014-09-06 20:57] eloc574 opened #36 "Adding backgrounds through the control panel"
I think it might be a good idea to implement the feature of dragging and dropping the pictures into the control panel backgrounds menu to add new backgrounds. This is used well under the boot menu background custimization and I actually assumed it was going to work like this when I was trying to add my own backgrounds because of this.

[2014-09-06 21:03] eloc574 opened #37 "Opening new terminal on desktop menu always opens xterm"
Default terminal is set to terminator through the control panel.
Deepin is actually recognizing this because when I use the keyboard shortcut ctrl+alt+t to open a new terminal window it actually opens the correct one.

[2014-09-06 21:08] colsephiroth opened #38 "Steam windows are untitled in the dock"
Happens in Fashion, Efficient, and Classic modes.
![deepinscreenshot20140906170524](https://cloud.githubusercontent.com/assets/5067255/4176550/e18cfa6c-3609-11e4-8c37-99583cbee018.png)
Also not a result of having multiple steam related windows open, as it is still untitled when there is just one.

[2014-09-06 21:19] colsephiroth opened #39 "Mystery icon/applet in dock"
It is in all modes, it yeilds no response to right clicks or left clicks.

![classic-mystery](https://cloud.githubusercontent.com/assets/5067255/4176574/2c5af6e2-360b-11e4-8fd8-9e2add2d9391.png)
![efficient-mystery](https://cloud.githubusercontent.com/assets/5067255/4176573/2c5931e0-360b-11e4-8a33-572fc7e15b2e.png)
![fashion-mystery](https://cloud.githubusercontent.com/assets/5067255/4176575/2c5f0

[2014-09-06 23:25] colsephiroth opened #40 "Steam applet using wrong icon in fashion mode"
The steam applet that is in the tray with the other system icons when in the Classic and Efficient modes(sound, network, usb, etc.) is displayed incorrectly only when in fashion mode. It still retains all functionality though.

![fashion-steam-applet](https://cloud.githubusercontent.com/assets/5067255/4176930/c9f7ac0e-361c-11e4-929e-a5f86c3c8706.png)

[2014-09-10 11:41] xgdgsc opened #41 "install error"
when run pacman -Sy deepin, a lot of such error:
/usr/share/locale/zh_CN/LC_MESSAGES/DDE.mo exists in both 'dde-workspace' and 'deepin-workspace'
/usr/share/locale/zh_HK/LC_MESSAGES/DDE.mo exists in both 'dde-workspace' and 'deepin-workspace'
/usr/share/locale/zh_TW/LC_MESSAGES/DDE.mo exists in both 'dde-workspace' and 'deepin-workspace'
/usr/share/personalization/greeter-theme/sky/bg.jpg exists i

[2014-09-10 12:15] xgdgsc opened #42 ""natural scrolling" setting for touchpad not working"
rt

[2014-09-10 13:50] #40 closed, assigned to nobody

[2014-09-10 14:33] #41 closed, assigned to nobody

[2014-09-12 15:58] #32 closed, assigned to nobody

[2014-09-12 15:58] #39 closed, assigned to nobody

[2014-09-22 08:03] #24 closed, assigned to nobody

[2014-09-22 08:03] #38 closed, assigned to nobody

[2014-09-23 06:36] fasheng opened #43 "category issue for some applications in launcher"
For example, install a game named kmahjongg, and login again, the icon of kmahjongg will be placed under category `System` instead of `Game`:

     sudo pacman -S kdegames-kmahjongg

This is caused by desktop files database which used by launcher but not be ported to archlinux as yet.c

[2014-09-29 13:13] ghost opened #44 "Arch最近升级之后所有深度软件(terminal,music,game等)都不能运行了"
运行任何软件均报错：Attempt to unlock mutex that was not locked 然后SIGABRT

strace最后几行输出
write(2, "Attempt to unlock mutex that was"..., 44Attempt to unlock mutex that was not locked
) = 44
rt_sigprocmask(SIG_UNBLOCK, [ABRT], NULL, 8) = 0
tgkill(3868, 3868, SIGABRT)             = 0
--- SIGABRT {si_signo=SIGABRT, si_code=SI_TKILL, si_pid=3868, si_uid=1000} ---
+++ killed by SIGABRT (core dumped) +++
已放弃 (核心已转

[2014-10-06 21:20] #44 closed, assigned to nobody

[2014-10-06 21:26] bulldozer opened #45 "glib 2.42 cause SIGABRT to all deepin software(music, terminal, game center, etc..)"
Updating glib to 2.42 causes all deepin software to throw 'Attempt to unlock mutex that was not locked' error and cause a SIGABRT.

One possible temporary fix is to comment out the abort() line in glib/gthread-posix.c and recompile glib. However, it might be dangerous.

diff -Naur glib-2.42.0.orig/glib/gthread-posix.c glib-2.42.0/glib/gthread-posix.c
--- glib-2.42.0.orig/glib/gthread-posix.c	2014-

[2014-10-13 06:50] fasheng opened #46 "dde-control-center not works after udpate"
$ dde-control-center show

QQmlComponent: Component is not ready
"qrc:///views/Main.qml:28 plugin cannot be loaded for module "DBus.Com.Deepin.Daemon.Display": Plugin verification data mismatch in '/usr/lib/qt/qml/DBus/Com/Deepin/Daemon/Display/libDisplay.so'

[2014-10-13 11:18] #46 closed, assigned to nobody

[2014-10-14 14:10] jokeryu opened #47 "Is it possible to split the greeter to an independent package such as lightdm-deepin-greeter?"
I like the deepin-greeter, but I don't want to install other unnessary files of dde, deepin-workspace depends on too many packages. So I wonder if there is a simple way to make deepin greeter work on Arch.
Thanks.

[2014-10-24 01:34] fasheng opened #48 "deepin desktop crashed after icu update to 54"

[2014-10-28 08:54] foTok opened #49 "Files Missing"
When I was trying to install DDE, some problems happened. I found that I count not build two packages:compiz-core-dev and deepin-session. The two files also disappear in deepin's server(http://packages.linuxdeepin.com/deepin/pool/main/d/deepin-desktop-environment/deepin-desktop-environment_1.0+git20140313154526~7809f4569e~2013.tar.gz).

[2014-10-28 11:23] #48 closed, assigned to nobody

[2014-11-04 06:40] Firef0x opened #50 "Could we change the version string to the format following the VCS PKGBUILD Guidelines?"
Hello, @fasheng @mmetak ! :smiley:

I'm so sorry to disturb you! But I wonder that how to define these kinds of version format in the following cases:

* https://bbs.archlinux.org/viewtopic.php?pid=1469337
* http://forums.opensuse.org/showthread.php/501869-How-to-define-these-kinds-of-version-format-in-OpenSUSE-Build-Service?p=2671201
* https://github.com/openSUSE/obs-service-tar_scm/issues/55

In

[2014-11-06 02:52] acgtyrant opened #51 "文件冲突"
有人评价 [home_metakcahura_arch-deepin_Arch_Extra] 里 的Deepin Desktop Enviroment:

我添加该源后并升级整个操作系统，返回文件冲突错误：

python2-deepin-utils: 文件系统中已存在 /usr/lib/python2.7/site-packages/deepin_font_icon.so
python2-deepin-utils: 文件系统中已存在 /usr/lib/python2.7/site-packages/deepin_utils-1.0-py2.7.egg-info/PKG-INFO
python2-deepin-utils: 文件系统中已存在 /usr/lib/python2.7/site-packages/deepin_utils-1.0-py2.7.egg-info/SOURCES.tx

[2014-11-13 09:34] acgtyrant opened #52 "错误：无法从 download.opensuse.org : Maximum file size exceeded 获取文件"
如图所示：

![deepinscreenshot20141113173057](https://cloud.githubusercontent.com/assets/3921062/5026093/1713dfee-6b5b-11e4-8408-cc3e2afac9a5.png)

[2014-11-22 04:20] huiyiqun opened #53 "Arch wiki"
是不是应该把这个repo加到wiki里?

https://wiki.archlinux.org/index.php/Unofficial_user_repositories

我不知道之前是基于什么考虑没有加进去，所以我没有妄自加进去。当然如果作者觉得没必要就当我没说，我只是提个建议。

[2014-11-22 09:25] #53 closed, assigned to nobody

[2014-11-24 07:34] #52 closed, assigned to nobody

[2014-12-08 01:16] #33 closed, assigned to nobody

[2014-12-23 09:17] #35 closed, assigned to nobody

[2014-12-23 09:37] #49 closed, assigned to nobody

[2014-12-23 09:44] fasheng opened #54 "report "invalid or corrupted package (checksum)" when installing deepin packages"
Well, the repository site of openSUSE looks like not friendly to archlinux users. Please setup `wget` as default download tool by removing comment from line `XferCommand = /usr/bin/wget --passive-ftp -c -O%o %u` in `/etc/pacman.conf`, then try again.

Another issue of OBS make such problem more freqently https://github.com/openSUSE/obs-build/issues/129

[2014-12-23 09:46] #51 closed, assigned to nobody

[2014-12-24 14:29] fasheng opened #55 "Upstream issue of Go, dde-daemon build failed for archlinux/go1.4/i686"
Seems like caused by an issue of go1.4, already reported to upstream.

https://github.com/golang/go/issues/9437

[2014-12-25 09:09] mmetak opened #56 "Missing background image from /usr/share/backgrounds?"
I've noticed my screen was black without background. The 'deepin-gtk-theme' package had default background, but its gone in latest version (deepin-gtk-theme_14.07%2b20141030105337~708d5d2bf0_all.deb)

[2014-12-27 09:28] beanaroo opened #57 "Many icons are blank and high cpu loaded when using Numix-Circle icon theme."
This happens when applying custom icon sets, specifically Numix family, Moka/Faba and Flattr.
![deepinscreenshot20141227083122](https://cloud.githubusercontent.com/assets/1748909/5560891/afb6303c-8daa-11e4-9bc1-5cc9370f1bf6.png)

[2015-01-02 10:49] #56 closed

[2015-01-02 11:42] #23 closed

[2015-01-02 11:43] #4 closed

[2015-01-04 01:12] #45 closed

[2015-01-04 01:13] #47 closed

[2015-01-04 01:14] fasheng commented on #47
Thanks @mmetak, package lightdm-deepin-greeter exists now.

[2015-01-04 02:15] fasheng opened #58 "new themes not listed in control center"
this is an issue of upstream, if user installed new themes, the following command is required:

    $ /usr/lib/deepin-daemon/theme-thumb-tool -a

[2015-01-04 02:33] fasheng commented on #57
Hi, I installed `moka-icon-theme-git` and `faba-icon-theme-git`, but mostly icons is fine, including `CMake` and `7-Zip FM` that lost icons in your screenshot.

Here is my screenshots:

**moka**
![deepinscreenshot20150104182247](https://cloud.githubusercontent.com/assets/3049011/5604523/e37e4718-93fb-11e4-8806-9d7086b9df93.png)

**faba**
![deepinscreenshot20150104182452](https://cloud.githubuserco

[2015-01-05 03:16] fasheng commented on #57
Got it, Numix-Circle icon theme reproduce the problem.

And just like @mmetak said, this also cause high cpu load and log files in /tmp start growing and growing... MB and MB...

    $ ls -lh /tmp/dde*
    -rw-rw-r-- 1 fsh  fsh  2.2K Jan  5 11:00 dde-desktop.log
    -rw-rw-r-- 1 fsh  fsh   72K Jan  5 11:06 dde-dock.log
    -rw-rw-r-- 1 fsh  fsh  1.5G Jan  5 11:09 dde-launcher.log

**dde-launcher.l

[2015-01-18 03:19] dopstar commented on #34
You can remove the two icons through `dconf Editor` or by running these `dconf` commands on terminal:
[code]

[2015-01-19 01:18] fasheng commented on #34
Thanks dopstar's advice, it works but icons will come back after reboot...

[2015-02-11 01:28] blaale opened #59 "unable to right click on desktop in virtualbox"
As per title, in a relatively standard archlinux virtualbox setup (with base base-devel, sudo, xorg, virtualbox-guest-utils and deepin). I'm using this environment to test if I want to swap to DDE. Out of the box I am unable to right click the desktop.

EDIT: Just like to mention that I do have Nautilus installed and it is configured to manage the desktop.

[2015-02-11 01:30] blaale opened #60 "control center->system infomoration takes a long time to load and gives NaN space"
![arch dde-sysinfoissue](https://cloud.githubusercontent.com/assets/8383085/6141080/46456d32-b1ec-11e4-9601-f8c5e576c09c.png)
On a virtualbox install, clicking control center-->system information results in the UI hanging briefly before displaying NaN for capacity and such.

EDIT: See attached image for details

[2015-02-11 01:32] blaale opened #61 "launcher does not update with new applications after installation"
After running the command pacman -S firefox (only an example, is the case with all software) the launcher will not include firefox in the list of applications until I perform a reboot or if I relog in/out.

My first thought is that the issue is related to apt in the Deepin Distro vs pacman in Arch.

[2015-02-17 13:02] AnderRasoVazquez commented on #61
I can reproduce this bug.

[2015-02-17 21:52] GriffinNowak opened #62 "Nothingness"
Once logged in I am presented with the background wallpaper and my cursor. Cursor can move. It can sometimes right click and sometimes can't. When it can right click I can get into the control center. The control center lists no installed apps. All drop downs have nothing in them. Also getting NaN for storage left. No dock. Nothing. Quite frustrating. Nothing in the install went wrong either. This

[2015-02-17 21:56] GriffinNowak commented on #62
RIGHT after I wrote this I clicked a bunch of buttons on my mouse in a spazzy frustration and got a new intro screen presenting me with the guide. I'm honestly not sure what I did but the guide popped up and now everything works fine. I am happy :)

[2015-02-17 21:56] #62 closed

[2015-02-25 02:05] fasheng commented on #60
Thanks, has reported to upstream.

[2015-02-25 02:07] fasheng commented on #61
Yes, this is a bug for launcher, wish upstream fix it quickly.

[2015-02-25 02:09] fasheng commented on #59
As you said, you use Nautilus to manage the desktop, so dde-desktop just be override :-)

[2015-02-25 03:48] blaale commented on #59
I was under the impression Nautilus was used the manage the desktop in default DDE, my mistake.
It is worth noting that dde-desktop doesn't seem to manage the desktop on a default install (Ie. before I install nautilus).

[2015-02-25 12:31] fasheng commented on #59
I see, please upload the /tmp/dde-desktop.log, and try to restart dde-desktop:

    killall dde-desktop
    dde-desktop -d

[2015-03-09 01:40] fasheng commented on #50
Finally, upstream applied the patch, it a goods news. But we decided to switch package source from git repos to stable tarballs in deepin mirror these days. So I just close this topic now.

And thanks for @Firef0x 's positive focus(至于你提到的第二种需求, 被作者要求去除了, 我也爱莫能助啊).

[2015-03-09 01:40] #50 closed

[2015-03-09 01:41] #54 closed

[2015-03-09 06:37] fasheng commented on #30
Fixed now.

[2015-03-09 06:37] #30 closed

[2015-03-09 06:38] fasheng commented on #60
Fixed now, please run `pacman -Syuu` to update packages and checking the result.

[2015-03-10 07:25] fasheng commented on #60
This problem is caused by depends missing in dde-daemon, which are lsb-release and udisks2. Fixed now.

[2015-03-10 07:25] #60 closed

[2015-03-11 15:26] Firef0x commented on #50
Many thanks to @fasheng & @mmetak ! It's good to switch the source to stable tarballs since `Deepin DE` is stable for a period of time. :clap:

Still long for the second feature. I think they rejected it just because there is a security vulnerability in the implementation of `@SEQUENCE_NUMBER@`, which would cause it to abort. However, if you don't need this feature any more, you are not responsibl

[2015-03-11 22:21] aspiers commented on #50
We didn't reject due to security concerns (what vulnerability do you mean?) but rather that sequence numbers don't make sense in git because it doesn't usually have linear history.

[2015-04-09 09:06] Iceyer opened #63 "deepin-compiz compile failed on Raspberry Pi 2B"
[code]

howerver, fix it manaul with:
[code]

[2015-04-16 09:56] redvoodoochild opened #64 "Problems with fresh install : Lib ICU 54"
Hello.
Excuse my poor english.
After an install of deepin destock, I've just have the control center working.
dde-dock ; dde-desktop, etc.... need the lib icu54 to works, but i've got the icu55 installed.
I've done a "ln -s" to this lib.. and the error disapear
Now, i've got this error :
dde-desktop: symbol lookup error: /usr/lib/libdeepin_webkit-3.0.so.0: undefined symbol: UCNV_FROM_U_CALLBACK_SU

[2015-04-17 14:44] dongfengweixiao opened #65 "deepin-screenshot need python2-dbus"
deepin-screenshot need python2-dbus

[2015-04-17 15:07] dongfengweixiao opened #66 "deepin-screenshot:out of date"
deepin-screenshot:out of date

[2015-04-17 15:18] redvoodoochild commented on #64
I've manualliy compiled the ICU libs V54, and all is working.

[2015-04-19 08:12] fasheng commented on #66
deepin-screenshot released new version this week, which rewrote by qml instead of deepin-ui. And I updated the PKGBUILD in AUR and OBS just now.

Enjoy!

[2015-04-19 08:12] #66 closed

[2015-04-19 08:14] fasheng commented on #65
The new version of deepin-screenshot just using the dbus of pyqt5, so we do not need to append the python2-dbus as a depend.

Thanks your advice any way.

[2015-04-19 08:14] #65 closed

[2015-04-20 01:17] fasheng commented on #64
Thanks the report. This is caused by the old icu version in OBS, it was fixed now. Run `pacman -Syu` and everything will be fine.

[2015-04-20 01:22] #27 closed

[2015-04-20 08:27] redvoodoochild commented on #64
It works. Thanks a lot.

[2015-04-20 08:27] #64 closed

[2015-04-27 03:53] fasheng opened #67 "Changelog notification"
Once packages updated, the Changelog will be append here. Anyone want to receive the news of arch-deepin please just subscribe this topic :)

[2015-04-27 03:54] fasheng commented on #67
Version 20152927

 - deepin-music-player bump version to 3.0, see more [here](http://planet.linuxdeepin.com/deepin-screenshot-v3-0-released-taking-screenshots-easily/)
 - Fix xpyb and xpybutils depends issue for deepin-music-player in AUR
 - Upload deepin-menu and deepin-qml-widgets to AUR
 - Update dde-control-center to 0.1.20150413164707
 - Update dde-dock-applets to 0.0.4.20150414222121
 - Upda

[2015-04-28 04:46] jeff10278 opened #68 "Only default theme is available for selection"
How can I can themes? The only theme that shows in theme selection is the default Deepin theme. New themes that are installed do not show up.

Thanks for your work on this

[2015-04-28 07:13] fasheng commented on #68
Yes, this is an issue of upstream, juse see #58 please.

[2015-04-29 03:33] kiritoxcii opened #69 "Don't work the Brightness keys + Power Key"
It only happens to work with Gnome, maybe it's some configuration in the environment.

And the power key does not do what I select in the options, it just shutdown my laptop without any warning.

[2015-04-29 15:30] fasheng commented on #67
Version 20154429

 - Update dde-dock-applets to 0.0.4.20150427095046
 - Update deepin-notifications to 0.3.20150427175348
 - Update deepin-screenshot to 3.0.201504271302008

[2015-05-06 03:01] beanaroo commented on #57
I think this is a problem with Deepin Launcher not being able to show svg icon sets.

[2015-05-06 08:58] FiveYellowMice opened #70 "Binary /usr/bin/player conflicts with the same file in genymotion"
Installing from unofficial repo, however pacman reports file conflict of /usr/bin/player.
A work around may be changing the file name in the package.

[2015-05-06 10:26] mmetak commented on #70
I've changed the symlink name from /usr/bin/player to /usr/bin/qtav-player in qtav-1.6.0-3.
Should fix it...

[2015-05-07 03:31] #68 closed

[2015-05-07 03:37] fasheng commented on #57
Yes, svg works not well in webkit that launcher build on. The developer fixed this issue but now push to outside repo now.

[2015-05-08 01:40] jeff10278 commented on #58
This is not working for me. Any other suggestions?

[2015-05-08 01:56] fasheng commented on #58
Which theme you used? Any error reported when you execute the command?

[2015-05-10 12:09] fasheng commented on #67
Version 20150510

 - Fix qtav file conflicts issue, rename `/usr/lib/qt/bin/player`
   to `/usr/lib/qt/bin/qtav-player`

[2015-05-10 12:11] fasheng commented on #70
Looks this issue was fixed now, close.

[2015-05-10 12:11] #70 closed

[2015-05-27 04:10] fasheng commented on #67
Version 20150027

 - Update dde-dock-applets to 0.0.4.20150521130615
 - Update dde-workspace to 2.1.20150521160615
 - Update deepin-movie to 2.2.1.20150512143336
 - Update deepin-screenshot to 3.0.20150508154858

[2015-05-31 06:33] fneig opened #71 "download library error"
When I use pacman -Syy deepin, the following error occurred

    error: failed retrieving file 'home_metakcahura_arch-deepin_Arch_Extra.db' from anorien.csc.warwick.ac.uk : Resolving timed out after 10521 milliseconds
    error: failed to update home_metakcahura_arch-deepin_Arch_Extra (download library error)
    error: target not found: deepin

The same results using http://download.opensuse.org/

[2015-05-31 09:47] fasheng commented on #71
I just installed deepin to a fresh archlinux two days ago, and everythin is fine.

Maybe caused by your network, so could you access the repo directly in browser?

http://download.opensuse.org/repositories/home:/metakcahura:/arch-deepin/Arch_Extra/

[2015-05-31 10:10] fneig commented on #71
Yes, I can access.

[2015-06-01 01:03] fasheng commented on #71
Well, looks strange. Please paste you `/etc/pacman.conf` here.

[2015-06-01 01:21] fneig commented on #71
I have successfully installed deepin desktop, today successfully installed. Yesterday, the network may be bad.

[2015-06-01 03:07] fasheng commented on #71
OK, I close this issue now. Have a fun!

[2015-06-01 03:07] #71 closed

[2015-06-13 22:28] avidmills opened #72 "Deepin 'introduction' hangs."
Going through the introduction, everything works up until "Let's drag the other icon on the first icon to generate 'application group'".  At that point, there is nothing to drag, and nothing to satisfy it to move onto the next step.  I have to force close the introduction and just start using the system.

[2015-06-14 02:43] fasheng commented on #72
Thanks or reporting, this is a upstream issue of dde-guide.

[2015-06-14 11:33] fasheng commented on #67
Version 20150614

 - Rename deepin-music-player to deepin-music
 - Migrate deepin packages to aur4
 - Sync obs packages

[2015-06-17 13:25] illuser opened #73 "deepin-music cannot resolve dependency python2-deepin-music-player"
[code]

Package builds, installs, and runs without the python2-deepin-music-player dependency.

System: Manjaro 0.8.13, Linux kernel 4.1.0

[2015-06-17 17:29] mmetak commented on #73
I don't think that dependency should be there. There's no package with that name.
I removed it and bumped pkgrel to resolve this.

[2015-06-18 13:15] illuser commented on #73
Confirmed downloading and installing on my end.

[2015-06-18 13:15] #73 closed

[2015-06-25 02:07] fasheng commented on #67
Version 20150625

 - Update deepin-pygtk, support numeric when compiling, change group
   to `deepin-extra`
 - Update deepin-ui, use `pygtk` instead of `deepin-pygtk` as depends

[2015-06-26 11:35] fasheng commented on #67
Version 20150626

 - Fix deepin-compiz build issue
 - Update deepin-screenshot, use `pygtk` instead of `deepin-pygtk` as depends
 - Update deepin-vte, use `pygtk` instead of `deepin-pygtk` as depends
 - Update python2-deepin-utils, use `pygtk` instead of `deepin-pygtk` as depends

[2015-07-12 17:10] jannickfahlbusch opened #74 "Windows have a blue titlebar"
Since the latest update, all of my windows have a bad looking blue title bar.

I think, this comes from the dependency of metacity2 instead of metacity-ubuntu.

Is there a way, to prevent this behaviour?

Here is a screenshot:
![deepinbildschirmfoto20150712190754](https://cloud.githubusercontent.com/assets/8135397/8638920/9b04c684-28c9-11e5-8479-dbe45969187e.png)

[2015-07-13 00:24] mmetak commented on #74
One user on DDE thread on archlinux's forum asked me about 'vanilla' metacity package so I tried to build with it, but it appears there is some issue with it so I've reverted it back to metacity-ubuntu and I've also updated some other packages. Can you please update you packages and report if the issue still persists?

[2015-07-13 20:14] jannickfahlbusch commented on #74
Yeah, your update solved my problem.

Thank you and keep on, with this great work!

[2015-07-13 20:14] #74 closed

[2015-07-25 03:16] antsuke42 opened #75 "where is deepin settings?"
where is the directory where deepin saves its settings? or how does deepin save the settings?

[2015-07-25 05:51] mmetak commented on #75
Settings are stored in "~/.config/{dde,deepin,desktop,dock,launcher,...}", and they're just text files.
".dde-dock-applets.ini" hidden file in your user home folder.
And, your custom theme when you change something, is stored in "~/.local/share/personalization/".

I wish they would just put all the configs in one place, like "~/.config/deepin/{dock,desktop,etc.}"

[2015-07-25 11:33] fasheng commented on #75
I will advice the programmers to adjust the config path. Besides, about the topic question, many dde related settings stores in gsettings with prefix path `com.deepin`.

[2015-07-27 15:56] avidmills opened #76 "Right click then left click broken"
When I right click on anything in the dock, or in the applications menu, I am then unable to left click on the drop down menu. I can hover over and highlight the different options, which then allows me to use the enter key and make my selection, but clicking it does not work.

[2015-07-28 03:31] fasheng commented on #76
Strange issue, could you reproduce it each time?

[2015-07-28 04:58] avidmills commented on #76
Yes, it seems to be any time I open a right click menu, I am unable to left click anywhere, I have to use the keyboard and enter or escape to exit the menu. It could be an arch related problem, but that doesn't seem super likely. Maybe I just have something installed incorrectly for my laptop drivers.

Sent from my iPhone

[2015-07-28 05:13] mmetak commented on #76
I experienced the same issue the other day. Though I was just trying the -git testing packages.
When I have more time I'll install stable and test it.

[2015-07-28 14:28] fasheng commented on #67
Version 20150728

 - Sync obs packages
 - Change mirror site to `http://ftp5.gwdg.de` to make obs works easily
 - Update version format, remove `git` if exists, affected packages
   are `deepin-compiz`, `go-fsnotify`, `go-gettext-go`,
   `go-graphics-go`, `go-jamslam-freetype-go`, `go-sqlite3`, `go-xgb`,
   `go-xgbutil`, `python2-deepin-gsettings`
 - Update deepin-movie to 2.2.2.20150616111111
 -

[2015-07-29 00:29] avidmills opened #77 "Hibernate"
Is hibernating possible? There is no menu option for it.

[2015-07-29 01:12] fasheng commented on #77
Deepin do not provide this option for that many machine could not hibernate successful under linux. And you could install `pm-utils` package and run `sudo pm-hibernate` to so such work.

[2015-07-31 11:34] shakyj commented on #76
I have this same issue then after a while left click anywhere but the dock stopped working and the dock stayed visible even in smart mode.

When you right click and the menu pops up you can chose your setting by hovering over it with the mouse and hitting the enter key on your keyboard so the menu is working, just the click isn't being detected. I have also tried a USB mouse and it still won't rec

[2015-07-31 12:40] fasheng commented on #76
Well, I have the issue after updating full system, too. Everything fine in the upstream, so maybe caused by the different building depends, e.g. qt.

[2015-08-01 20:41] thedeli commented on #76
I have same issue. I wrote on arch forum page too..

[2015-08-05 22:06] avidmills opened #78 "Time fonts"
Something screwed up with my clock.  It still functions fine, (aside from an incorrect clock setting, but that isn't related to deepin).  Any idea?

![deepinscreenshot20150805150315](https://cloud.githubusercontent.com/assets/12877032/9099153/acb68f00-3b8b-11e5-8b75-d96a365aff82.png)

[2015-08-11 07:53] japerfecto commented on #76
I am a new user, I installed Deepin today, and I have this problem.

[2015-08-15 13:14] lukadisanto commented on #76
I have the same problem

[2015-08-19 19:41] tgharib commented on #76
Same problem. I just installed Deepin today on Arch Linux.

[2015-08-21 08:52] fasheng commented on #76
Thanks for the reports. This should be caused by a `QWidget::nativeEvent` issue in Qt 5.5.0, which make `deepin-menu` could not catch mouse event correctly. And we are just searching for solutions now...

[2015-08-22 16:13] thedeli commented on #76
Thanks :) :+1:

[2015-08-25 07:04] lukadisanto opened #79 "network problem"
After last update (yesterday) I can't go on internet with wifi.
When I switch from wifi to lan I go on web but I do not see internal lan client.
I must restart the system with lan cable inserted and the internet works
If I use gnome everything works fine

[2015-08-25 07:19] fasheng commented on #79
Upstream issue.

The version of NetworkManager in archlinux(1.0.4) is newer than deepin 2014(0.9.8), and the new network daemon will be released for deepin-2015 to fix the interface compatibility problems.

[2015-08-25 07:35] lukadisanto commented on #79
So I simply wait for update, right?
Do you know when the update will released?

[2015-08-26 06:37] fasheng commented on #79
About 2 months later.

[2015-09-02 18:21] MOZGIII opened #80 "Unable to install:download.opensuse.org : Maximum file size exceeded"
Have this during installation.
Follows https://wiki.archlinux.org/index.php/Deepin_Desktop_Environment

[code]

[2015-09-05 22:29] oberon2007 opened #81 "wallpaper not updating"
First of all, thank you for your amazing work, fasheng! :)
I am running this on a manjaro system now and apart from the right-click/left-click issue that you are already aware of I am having problems with changing the wallpaper:
Clicking a different wallpaper gives a little black frame around the selection and changes the thumbnail under 'Theme Custom' at the top of 'Personalization' but does not

[2015-09-07 07:14] fasheng commented on #80
Please setup `wget` as default download tool by removing comment from line `XferCommand = /usr/bin/wget --passive-ftp -c -O%o %u` in `/etc/pacman.conf`, then try again.

[2015-09-07 09:24] MOZGIII commented on #80
I already figured out how to download files from the mirror. However, if you need me to try this to get more info on topic, I still could try doing so.
I'm interested myself in knowing what's going on and what causes the problem. Somehow mirror just works. Is this problem somehow caused by Open Suse's Build Server implementation?

[2015-09-07 09:25] fasheng commented on #81
This is caused by the broken gsettings signal issue since glib2.43. I give a patch for startdde(rel=5) now,, and tested ok locally.

But OBS could not build it with error message `nothing provides zeromq needed by libteam`,  do you have any idea about it, @mmetak ?

[2015-09-07 09:29] fasheng commented on #80
I'm not sure, but using wget will avoid such problems from my experimence.

[2015-09-07 11:02] fasheng commented on #80
Well, `wget` not works this time, looks like OBS did not update db file after archlinux packages rebuilded.

[2015-09-07 11:03] #75 closed

[2015-09-07 11:03] #77 closed

[2015-09-07 11:06] fasheng commented on #67
Version 20150907

 - Fix startdde wallpaper update issue

[2015-09-07 15:57] mmetak commented on #81
With latest update libteam-1.17-1 (networkmanager dependency) needs zeromq which is in community repo. I'll have to import zeromq, libpgm, libsodium and acsiidoc to OBS.

[2015-09-07 18:53] oberon2007 commented on #81
That sounds like a solution is round the corner :) Thank you!

[2015-09-07 19:02] oberon2007 opened #82 "deepin trademark question"
Forgive me if this is the wrong place to contact you about this but I could not find an email address...
I am thinking about working on a community release of manjaro with the deepin DE but I am not sure if there are any copyright concerns opposing this plan.
This github page here states that the content is GPL, so I would understand that as favourable for what I would like to da, but what confuse

[2015-09-07 19:37] mmetak opened #83 "dde-workspace fails to build with go-1.5-1"
I've updated go to 1.5 in OBS and dde-workspace fails to build with this error:

[  269s] Scanning dependencies of target desktop
[  269s] [ 51%] Building C object app/desktop/CMakeFiles/desktop.dir/desktop.c.o
[  270s] /usr/src/packages/BUILD/dde-workspace/src/deepin-desktop-environment-2.1+20150521160615/app/desktop/desktop.c:45:26: fatal error: DBUS_desktop.h: No such file or directory
[  270s]

[2015-09-08 02:21] fasheng commented on #81
@mmetak How about move netwokmanager to optional depends to avoid OBS's checking? In fact, dde-daemon could run without it.

[2015-09-08 03:02] mmetak commented on #81
@fasheng OK, I've moved it to optdepends.

[2015-09-08 05:39] fasheng commented on #82
Yes, their is a registered Deepin trademark logo in left-bottom corner of ligthdm-deepin-greeter.

The GPL is a license that defines the terms of use for the code. A license does not serve the same function as a copyright or trademark and the GPL itself is designed for software not for logos or names[1].

So I'm afraid you could not change the trademark log in greeter to another one only when deep

[2015-09-08 08:22] fasheng commented on #67
Version 20150908

 - Fix dde-workspace build issue under go1.5

[2015-09-08 08:24] fasheng commented on #83
Solved with a patch about go template. Closed.

[2015-09-08 08:24] #83 closed

[2015-09-08 18:54] oberon2007 opened #84 "extrem slowdown after login"
Since yesterday's package update changing the wallpapers works fine, thank you!
BUT now a different issue has surfaced:
After login with lightdm-deepin-greeter the session takes forever until the dock appears and the session is usable - I am talking about 15-20 minutes!! After that everything seems perfectly normal.
Is there any helpful information I could provide for you?
Nothing helpful in .xses

[2015-09-08 18:59] jannickfahlbusch commented on #84
Happens for me too. Seems strange as there are no logged errors.

[2015-09-08 19:21] oberon2007 commented on #84
Seems not related to lightdm. Launching the session with startx has the same result.

[2015-09-08 19:31] jannickfahlbusch commented on #84
This is the whole content of my `.xsession-errors`-File:

[code]

The file got created just after the start of X.org and got modified 17 Minutes later:
[code]

[2015-09-08 19:43] oberon2007 commented on #82
Thank you for the information. This sounds promising! ;)

[2015-09-08 19:43] #82 closed

[2015-09-08 19:45] oberon2007 commented on #81
fixed for me. thank you!

[2015-09-08 19:45] #81 closed

[2015-09-09 08:07] fasheng commented on #84
Thanks for the detailed report. The problem was soveld in dde-daemon(pkgrel=9) with a patch for go1.5.

[2015-09-09 08:10] fasheng commented on #67
Version 20150909

 - Fix dde-daemon block issue under go1.5

[2015-09-09 09:11] oberon2007 commented on #84
Wonderful. That solves it. Thank you very much for the ultra-fast fix! :)

[2015-09-09 09:11] #84 closed

[2015-09-14 17:41] felixonmars opened #85 "Moving some deepin software to [community]"
Hi,

Today I started to add some deepin packages to the [community] repository, and my first goal is deepin-music. I have also updated pygtk with an upstream patch which should eliminate the need for deepin-pygtk.

In case I did anything wrong, I didn't make the first batch too big:
- https://www.archlinux.org/packages/community/x86_64/python2-deepin-utils/
- https://www.archlinux.org/packages/com

[2015-09-14 17:43] felixonmars commented on #85
Add some links:
- Update to pygtk: https://github.com/felixonmars/packages-mirror/commit/48d0b0c64763db08d11ced15228536fcdc849863
- PKGBUILD for python2-deepin-gsettings: https://github.com/felixonmars/community-mirror/blob/master/python-deepin-gsettings/trunk/PKGBUILD
- PKGBUILD for python2-deepin-utils: https://github.com/felixonmars/community-mirror/blob/master/python-deepin-utils/trunk/PKGBUIL

[2015-09-15 04:04] fasheng commented on #85
It's really an amazing news for @metak and I. We planned to contribute Deepin packages to [community] repo about two years ago. And Deepin team managing all projects under github(mirror of cr.deepin.io like gitcafe) with tags, it will be more convenient to do such work now.

But a problem is that Deepin projects are not like Qt or Gnome, I mean they(DDE and deepin apps) always release independentl

[2015-09-16 06:51] antsuke42 commented on #75
thank you-

[2015-09-18 23:03] oberon2007 commented on #85
@felixonmars for me, too, this is great news, as I am currently trying to put together a version of manjaro with the deepin-DE. The manjaro-repos are inheriting your new packages as they appear. At the same time I am still using @mmetak 's custom repo.
At the moment the situation is a bit confusing for me, as some packages are available from both sources now, partly in different versions.
What is

[2015-09-19 02:13] felixonmars commented on #85
Hi @oberon2007, as discussed with @fasheng, I am going to wait for the next major DDE release to package most of the DDE core components. Currently I am only moving some individual softwares like deepin-screenshot, deepin-music, deepin-movie, etc.

If you are going to package the whole deepin group now, I would suggest you to keep on @mmetak's repo for now, as there may be hidden problem in differ

[2015-09-19 04:56] oberon2007 commented on #85
Yes, that sounds great! Thank you for the clarification. :)

[2015-09-20 19:13] oberon2007 commented on #75
I still could not find, yet where the info of the user icon and the settings for lightdm-deepin-greeter go ... Could you tell me that, too, please?

[2015-09-21 01:59] fasheng commented on #75
Have a look at ```/var/lib/AccountsService/``` :)

[2015-09-21 10:19] oberon2007 commented on #75
Thanks! :)

[2015-09-27 16:47] oberon2007 commented on #76
Any progress I this? I have that problem, too, and it is quite a showstopper... :-/

[2015-09-28 03:17] fasheng commented on #76
Sorry for the long time waiting. This issue could not reproduced in official distro and the developer are working hard for Deepin2015 now, so there is just no enough energy to solve the problem which need rewriting the implementation.

I toke time to build a demo and reported a bug to Qt, hope they will pay attention to it.

https://bugreports.qt.io/browse/QTBUG-48472

[2015-09-28 09:45] oberon2007 commented on #76
Thank you so much! :)

[2015-09-28 21:15] mmetak commented on #85
Hello everyone. ;-)
Since @felixonmars moved some packages to community repo I've decided to remove those already moved packages from arch-deepin repo in OBS. Already removed:
- deepin-pygtk (not needed anymore, patch merged upstream, replace it with pygtk from arch repos)
- deepin-screenshot *
- deepin-music *
- deepin-menu *
- deepin-qml-widgets *
- python2-deepin-gsettings *
- python2-deepin-ui

[2015-09-28 21:30] oberon2007 commented on #85
Thank you very much! :)

[2015-09-29 01:45] fasheng commented on #76
Thanks to tha Qt developer Gatis Paeglis's tips, this issue is caused by Qt which configured with xinput2. I have wrote a patch to @fellxonmars that tested OK locally. We will receive package update for deepin-menu later :-)

[2015-09-29 04:58] oberon2007 commented on #76
Great news! :)

[2015-09-30 03:34] felixonmars commented on #85
Update:

deepin-social-sharing added as optdepend of deepin-screenshot

[2015-09-30 14:27] mmetak commented on #85
- deepin-social-sharing *(replace/reinstall it with package from arch repos)
- deepin-dbus-generator *(replace/reinstall it with package from arch repos)

[2015-10-01 01:20] fasheng commented on #85
Cool!

[2015-10-01 08:04] MetaK commented on #85
@mmetak here is a problem. Un a spanish user from spain, and i have ur account linked to my account. I dont know why its hapenning , and i dont know how erase this problem, i can change ur password account because my email is being used like ur mail dirección, So all the coments and all the posts u do or someone do to u are being sending to my email.

U know something about this? Its a big problem

[2015-10-01 08:05] MetaK commented on #85
Im A spanish user*

Contact me @mmetak please

[2015-10-01 09:55] felixonmars commented on #85
Update:

deepin-game added to [community] with dependencies python2-deepin-storm and python2-jswebkit.

[2015-10-01 10:52] fasheng commented on #85
@MetaK Really sorry for the wrong username in my first post for I always write message in the external editor from Firefox. Please don't mind it...

But really have no idea how you could change @mmetak's account password.

[2015-10-01 11:02] MetaK commented on #85
Im getting all emails from mmetak conversations, it includes that i can change the password with my email! Github error?

[2015-10-01 11:09] oberon2007 commented on #85
This sounds quits concerning actually ... I think you (and/or @mmetak) should definitely open a [vulnerability submission](https://bounty.github.com/submit-a-vulnerability.html) about this with Github!

[2015-10-01 12:56] mmetak commented on #85
@MetaK Don't know what exactly is going on, but I've changed my password just in case. If you're receiving those emails then you should definitely report them as @oberon2007 said. I haven't received any warnings nor have I noticed anything weird.

@felixonmars & @oberon2007 Great. deepin-game-center and python2-jswebkit also removed. deepin-gettext-tools won't be published in obs repo any longer,

[2015-10-01 13:06] oberon2007 commented on #85
Great! I will make another ISO test-build with all the new packages in the near future :)

[2015-10-02 09:41] #76 closed

[2015-10-02 13:58] mmetak commented on #85
- deepin-terminal and deepin-vte are now removed.
- python2-deepin-vte dependency instead of deepin-vte

replace/reinstall deepin-terminal with package from arch repos

[2015-10-03 08:56] oberon2007 opened #86 "double declaration of custom background"
I am having problems preconfiguring the background for a new user.
The background image seems to be declared in two places:
**/var/lib/AccountsService/users/username** and in **/home/username/.local/share/personalization/themes/Custom/theme.ini** Is that correct?
In any case deepin tends to regress to the default theme until changes are applied again.
So could you point me to where the switch betw

[2015-10-03 09:44] fasheng commented on #86
The setting in AccountsService is used to change the login background in lightdm, but still not implemente now. So the right place to store themes are `~.local/share/personalization/themes`.

[2015-10-03 12:34] oberon2007 commented on #86
Ok, thanks. But then changing the settings in that file alone does not change the theming! The default remains until I open the settings GUI and change something. So my question is still, where is the switch from Deepin to Custom theme? ;)

[2015-10-03 13:57] fasheng commented on #86
Just change the gsettings value in `com.deepin.dde.appearance.theme` :)

[2015-10-03 15:51] oberon2007 commented on #86
Hmm. I can't seem to find a file of that name anywhere! ??

[2015-10-03 15:57] fasheng commented on #86
I mean you have to apply Custom theme by changing the gsettings value in shell `gsettings set com.deepin.dde.appearance theme 'Custom'` ;-)

[2015-10-03 16:08] oberon2007 commented on #86
But where does that setting go? It must be written in a file somewhere, no? Or will I have to run a script for that on the first session?

[2015-10-03 16:10] oberon2007 commented on #86
ah. i think i got it ;) /usr/share/glib-2.0/schemas :)

[2015-10-03 16:11] oberon2007 commented on #86
Sorry. Not enough GNOME experience here :blush:

[2015-10-03 16:12] fasheng commented on #86
You got it :D

[2015-10-03 16:21] oberon2007 commented on #86
Well almost ...
[code]
or
[code]
???
The only file that looks actually relevant is ``com.deepin.dde.personalization.gschema.xml``

[2015-10-03 16:34] oberon2007 commented on #86
When I try to open Desktop Preferences from the Menu I get an Error 'Desktop Manager is not active'. Am I missing a package, maybe? Also when I open Personalization from the Settings palette and change background, xcursor-theme and icons several time, the changes stopp being applied after two or three of those actions and I have to re-log.
The latest setting are not written in .local/share/persona

[2015-10-03 16:39] oberon2007 commented on #86
Interesting! I just found this...
99_deepin-default-gsettings.gschema.override 8-D

[2015-10-03 21:31] #86 closed

[2015-10-03 21:41] oberon2007 opened #87 "User trash dirs not created under manjaro"
When I right click on a desktop icon selecting 'delete' or 'properties' does nothing while the other entries of the context menu work fine.

[2015-10-03 21:45] oberon2007 opened #88 "separator line in context menus on the desktop are treated as menu entries"
No big deal, really, and very likely is an upstream problem. But I would like to report it anyway:
When I right click on the empty desktop or an icon and then use the arrow key down to select one menu entry after the other, the separator lines are working like menu entries and the selection stops there until I press the key again. Like that it takes two key-strokes to get from one entry to the nex

[2015-10-04 01:11] fasheng commented on #86
I see, the gsetting path I used only exists in Deepin 2015...

[2015-10-04 01:24] fasheng commented on #88
Thanks for the awesome bug report! I reported it to upstream and should be solved soon.

https://bugzilla.deepin.io/show_bug.cgi?id=1592

[2015-10-04 01:58] fasheng commented on #87
The 'delete' action work fine for me, could you debug it by `killall dde-desktop; dde-desktop -f`?

The 'properties' issue is caused by the missing dependency `deepin-nautilus-properties`, I will package it later.

[2015-10-04 10:58] oberon2007 commented on #88
It's rare that someone is so happy about a bugreport :laugh: I like your style :)
Thank you.

[2015-10-04 11:02] oberon2007 commented on #86
Ok :-) looking forward to that! Would Deepin 2015 somehow be accessible already for experimenting?

[2015-10-04 13:19] fasheng commented on #86
Well, Deepin 2015 released alpha1 about two months ago and we plan to port it to archlinux after the stable version out.

[2015-10-07 09:49] felixonmars commented on #85
@mmetak Update: coffee-script has been moved to [community].

[2015-10-07 14:24] oberon2007 commented on #87
ok. sorry, it took me a while to get back to this. I get
[code]

[2015-10-07 14:29] oberon2007 commented on #87
I have
[code]
am I missing another package?

[2015-10-07 14:43] fasheng commented on #87
I see, looks like you missing the trash folder, try to install `gvfs` package.

If not work, setup the trash folder manually:
[code]

[2015-10-07 14:45] oberon2007 commented on #87
gvfs was already installed.
Will try the handwork then ... ;)

[2015-10-07 17:05] oberon2007 commented on #87
Unfortunately that did not help either. Still the same error while
[code]

[2015-10-18 01:44] oberon2007 commented on #87
I have built a new ISO now and interesting, the delete now works suddenly. Properties are still not showing though...
Any additional information I could provide?

[2015-10-18 01:49] oberon2007 opened #89 "autologin not working"
Setting the switch in settings center to autologin ON does create an entry in lightdm.conf but is ineffective. I still need to enter the password in lightdm-deepin-greeter.

[2015-10-18 06:33] fasheng commented on #87
`property` not works for that I had not push package `deepin-nautilus-property` to OBS yet.

About the `delete` issue, what you did to fix it, install gvfs or create trash folder manaully?

[2015-10-18 08:26] oberon2007 commented on #87
I see, thank you. The delete-problem has disappeared on the new ISO, I have no idea why. No manual folder creation anyway. And gvfs had been installed on the old one already, too ... Sorry, no helpful information here ;) but in any case it works now :D

[2015-10-18 08:31] fasheng commented on #87
Thanks. I will upload deepin-nautilus-property to OBS after our repo manager sync code to github :)

[2015-10-18 22:53] oberon2007 commented on #89
For some reason autologin is working now - I cannot reproduce why... sorry.

[2015-10-18 22:53] #89 closed

[2015-10-18 22:55] oberon2007 opened #90 "cannot add a new user"
when I click on the +-symbol in the control centre the form opens but when I try to enter the name for a new user, no letters are accepted but a tooltip box shows up saying "Username can not be empty".

[2015-10-19 09:39] oberon2007 opened #91 "per user gconf"
Excuse me, this is probably a quite dumb question... but I can't seem to figure out where the per user gconf settings are stored. For example when the user changes the dock option to "Classic mode".
Thank you for your patience ;)

[2015-10-19 09:55] fasheng commented on #91
Do you mean `~/.config/dconf/user`?

[2015-10-19 09:57] oberon2007 commented on #91
Hm. So this means it will not be human readable?

[2015-10-19 10:06] oberon2007 commented on #91
So looks llike the way to pre-configure settings manually is via global override  in /usr/share/glib-2.0 right?

[2015-10-19 10:26] fasheng commented on #91
yes, just follow the gsettings override files.

[2015-10-19 10:35] oberon2007 commented on #91
Thanks

[2015-10-19 10:35] #91 closed

[2015-10-19 10:37] oberon2007 commented on #90
Not sure if this is related, but ... is there a way in lightdm-deepin-greeter to login as root? I can not see a selection like in lightdm-gtk-greeter.

[2015-10-19 10:58] fasheng commented on #90
Yes, edit the =/etc/lightdm/lightdm.conf= by your favorite editor and add this line:
[code]

Then restart ligthdm and input username like root.

[2015-10-19 11:01] oberon2007 commented on #90
Great, thank you :)

[2015-10-19 11:43] oberon2007 commented on #90
unfortunately it does not make any difference ...
maybe any additional config needed for pam?

[2015-10-19 12:07] fasheng commented on #90
Well, looks like lightdm-deepin-greeter does not support input username manually... Just ignore it.

[2015-10-19 12:16] oberon2007 commented on #90
so this means there is no way to login as root?

[2015-10-19 12:47] fasheng commented on #90
Maybe, unless using `lightdm-gtk-greeter` or xinit.

[2015-10-19 21:13] oberon2007 commented on #90
ok. thanks.

[2015-10-20 08:59] felixonmars commented on #85
* deepin-movie (2.3 branch) moved to [community]

[2015-10-20 09:27] mmetak commented on #85
- coffee-script not published in arch-deepin repo any more, use the package from [community] if needed.
- deepin-movie removed, use the package from [community]... along with it I've also removed its old dependencies python2-ass, python2-pysrt, python2-setproctitle, python2-xpybutil...

(the OBS repo is scheduled for rebuild and changes will apply once it finishes...)

[2015-10-20 15:04] fasheng commented on #87
Hi, @mmetak
I upload deepin-nautilus-properties, and follow your smart _service style as deepin-dbus-generator, but just build failed, do you have any idea?

btw, I found the arch-deepin:2015 repo in OBS, you have worked hard :+1:

https://build.opensuse.org/package/show/home:metakcahura:arch-deepin/deepin-nautilus-properties

[2015-10-20 15:45] mmetak commented on #87
@fasheng It failed because it was missing libnotify. I added it to makedepends and it builds fine.

[2015-10-20 16:00] fusion809 opened #92 "Deepin installed, but completely unusable."
Hi,

I have installed the `deepin` and `deepin-extra` packages on my Manjaro VirtualBox Machine (VBM). and while I can start the Deepin DE without issue, the desktop background is pitch black and I can't open up any applications (including the Deepin Terminal). What's worse is that I can't open up tty1 with <kbd>Alt</kbd>+<kbd>F1</kbd> (by the way, if you're thinking I should try <kbd>Ctrl</kbd>+<

[2015-10-20 22:08] oberon2007 commented on #92
Did you follow [this guide](https://wiki.archlinux.org/index.php/Deepin_Desktop_Environment) ?
For me a while ago it worked like that. At that time I used a basic fluxbox installation as a basis and installed deepin as a second session. Like that you can also check if your base installation is working at all.

[2015-10-20 22:40] fusion809 commented on #92
Yes I did follow that guide, to the letter. I ran `sudo pacman -S deepin deepin-extra` after adding the deepin repo to `/etc/pacman.conf`. After that I switched my LightDM greeter to Deepin and it made no difference, whenever I logged into Deepin I got this error.

[2015-10-21 02:37] fasheng commented on #87
Good job ! I just got dizzy by the 'could not cd directory' problem and missed the point.

So people update dde-workspace will install deepin-nautilus-properties and will solve this issue.

[2015-10-21 02:50] fasheng commented on #92
Looks like `/usr/bin/startdde`, `/usr/bin/deepin-compiz` and `/usr/lib/deepin-daeon/dde-session-daemon` did not run well. Could you preview workpace through <kbd>Super</kbd>+<kdb>s</kdb>?

I need more debug log about it. And I remember people should use <kbd>Host</kbd>key (typically the <kbd>Right Ctrl</kbd>) instead of <kbd>Ctrl</kbd>+<kbd>Alt</kbd> to switch tty under VirtualBox.

So please try

[2015-10-21 12:32] fusion809 commented on #92
Not sure what <kbd>Super</kbd> is, but I have tried <kbd>Shift</kbd>+<kbd>s</kbd> and <kbd>Space</kbd>+<kbd>s</kbd>, neither of which lead to a preview. As for the tty, <kbd>Right Ctrl</kbd> (which is my host key, I know this as pressing <kbd>Right Ctrl</kbd>+<kbd>F</kbd> causes me to enter full screen within my host machine) + <kbd>F1</kbd> does nothing, as does <kbd>Right Ctrl</kbd> + <kbd>F2</k

[2015-10-21 12:32] fusion809 commented on #92
@fasheng Not sure what <kbd>Super</kbd> is, but I have tried <kbd>Shift</kbd>+<kbd>s</kbd> and <kbd>Space</kbd>+<kbd>s</kbd>, neither of which lead to a preview. As for the tty, <kbd>Right Ctrl</kbd> (which is my host key, I know this as pressing <kbd>Right Ctrl</kbd>+<kbd>F</kbd> causes me to enter full screen within my host machine) + <kbd>F1</kbd> does nothing, as does <kbd>Right Ctrl</kbd> + <

[2015-10-22 02:20] fasheng commented on #92
Well, I'm afraid you have to reinstall DDE in a new VirtualBox image or do something useful else for we could not change anything even though found the solution...

And please try launch DDE through `xinit` instead of ligthdm next time.

[2015-10-23 15:08] oberon2007 opened #93 "file conflicts dde-qml-dbus-factory and deepin-dbus-factory"
'dde-qml-dbus-factory' and 'deepin-dbus-factory' have multiple conflicting files and are both group=deepin!
First of all, this needs fixing ;)
Second: Which one should I install? :)

[2015-10-23 15:24] oberon2007 commented on #93
Ah, I see it's a bit more complicated than that... deepin-dbus-factory is obvioulsy being installed as a dependency of some other package - have to figure out which one is pulling it in, yet.

[2015-10-23 15:38] oberon2007 commented on #93
hm. I see deepin-dbus-factory is a multi-pkg consisting of the go and the qml pkg.
In any case, when I try to install group deepin I run into pacman errors about files owned by both "deepin-dbus-factory" and dde-qml-dbus-factory...

[2015-10-23 15:53] oberon2007 commented on #93
I think here's the problem:
[code]

[2015-10-23 15:57] oberon2007 commented on #85
At the moment dependencies seem to make it impossible to install deepin-movie (arch) and group deepin at the same time: https://github.com/fasheng/arch-deepin/issues/93

[2015-10-24 13:11] jannickfahlbusch commented on #85
The installment of deepin and deepin-extra is impossible at the moment.

It is only possible with the `--force`-Flag of pacman.

[2015-10-24 16:24] oberon2007 commented on #85
Today several packagea seem to have disappeared completely... Are you currently re-structuring all that? So, should I wait a while before I attempt to re-install?

[2015-10-24 16:44] mmetak commented on #85
@oberon2007 @jannickfahlbusch
I've modified most of the pkgbuilds to use git sources and I've also updated most of the packages.
(git sources are disabled by default to work with OBS, but should be easily enabled for those who wish to rebuild packages on their own locally) Also, there's no more dde-qml-dbus-factory package (previously split deepin-dbus-factory) in arch-deepin repo, only deepin-dbu

[2015-10-24 17:26] oberon2007 commented on #85
Great, thanks! I will try later tonight :) I now get only 16 pkgs in group deeping, correct?
[code]
plus these 5 in deepin-extra:
[code]

[2015-10-24 22:20] oberon2007 commented on #85
Well, installation went without problem (installed complete deepin and deepin-extra group plus dde-control-center and lightdm-deepin-greeter). But when I start the session I get a little popup with "Dock failed to start, because Compiz is not enabled". The desktop icons are there, on an empty black background and after a while I am thrown back the lightdm-deepin-greeter.

[2015-10-25 04:07] fasheng commented on #85
Wow, looks I missed interesting news that metak updated DDE packages to 2.90.x :+1:

@oberon2007  A patch just applyed to startdde to fix `compiz` as the default window manager, it should fix such issue. Please update and try again.

I updated to latest arch-deepin pkgs, just works fine besides the conflicts issue between `dde-qml-dbus-factory`/`dde-go-dbus-factory` and `deepin-dbus-factory`. But

[2015-10-25 10:05] oberon2007 commented on #85
Very cool! :) My new build seems to work really well! What surprised me is that there is suddenly an additional user by default of the name "git". Where does this come from? The good news is that I am now able to create a new user! ;)
Properties of Desktop icons can be displayed now, but now right-click > delete function is gone again...
Thank you all for your great work!

[2015-10-25 11:37] oberon2007 opened #94 "launcher crashes session and nautilus panic"
When I try to launch any applications from the launcher the session crashes and lightdm-deepin-greeter appears. Sometimes after that even logging back in is not possible.
Did not find I proper way to post the content of .xsession-error.log
Here it is as a screenshot:
part 1: http://imgur.com/DgZqouI.png
part 2: http://imgur.com/5a4BG11.png
part 3: http://imgur.com/heXdwBJ.png
part 4: http://imgur.

[2015-10-25 11:59] fasheng commented on #94
Fixed, please try again.

[2015-10-25 13:34] oberon2007 commented on #94
yes. working now :) But there is a new problem:
[code]

[2015-10-26 08:47] fasheng commented on #94
But the nautilus works fine for me, I updated to the latest packages and launche DDE through xinit.

[2015-10-26 11:17] oberon2007 commented on #94
It's a bit weird here: Launching "Computer" from the desktop icon opens Nautilus normally, but when I launch Nautilus from the dock or the launcher it opens for a moment and then exits. Launching from the terminal gives the errors I posted...

[2015-10-26 23:15] SolarAquarion opened #95 "Startdde doesn't work"
http://imgur.com/GFLcBLX

[2015-10-27 01:08] fasheng commented on #95
Do you want launch DDE through tty, right? Just follow the steps in README:

1.   Add the following code to `$HOME/.xinitrc`
[code]
2.  run `xinit` in tty to enter DDE

[2015-10-27 01:42] fasheng commented on #94
Well, all is OK for me...

[2015-10-27 08:37] oberon2007 opened #96 "pkg-versions"
I am confused about different package versions. Maybe you could be so kind to explain to me how this works :)
One example is dde-control-center
I see two different PKGBUILDS, one in arch-deepin/pkgbuild (0.1.20150413164707) and one in arch/deepin/obs/home:metakcahura:arch-deepin (2.90.3)
Now what pacman -Si gives me is version 2.90.3-1 but the depends are not the same as in arch/deepin/obs/home:me

[2015-10-27 08:45] oberon2007 commented on #96
ah. sorry. I only saw now that there are two entries for depends in the PKGBUILD ;)

[2015-10-27 09:04] #96 closed

[2015-10-27 20:42] oberon2007 commented on #87
Unfortunately this issue is back now. gvfs is installed and the Trash foldes created manually.
Also selecting an item in Nautilus and hitting Delete gives this error: ``can't be put in the trash. Do you want to delete it immediately?``
In debug mode the attempt to delete a desktop item still gives:
``** (dde-desktop:4018): WARNING **: _trash_files_async: Unable to find or create trash directory``

[2015-10-27 20:44] oberon2007 commented on #87
A search for "_trash_files_async" lists this page: http://blog.csdn.net/yuanchenglu/article/details/9719415 Maybe some helpful information for you there? ;)

[2015-10-27 22:41] oberon2007 opened #97 "user "git" ??"
Since the latest updates, when i create a new install, by default an extra "normal user" named "git" is created. Where might this come from and how can I avoid this?

[2015-10-27 23:03] mmetak commented on #97
DDE shouldn't create any "git" account... maybe it's just showing the system git account that's created by the 'git' package?

[2015-10-27 23:27] oberon2007 commented on #94
resolved by removing **~/.config/nautilus**

[2015-10-28 00:11] oberon2007 commented on #97
hm. I think you are right. i have created another ISO with git not installed and the extra user is gone... still this is not really satisfying and it was not like that a few days ago. Do you have any idea what might be responsible for this new behaviour?

[2015-10-28 06:15] fasheng commented on #87
Really surprise! You just show me my colleague's blog, and he just standing behind me when I click it.

I will try to reproduct and report it to the developer  ;)

[2015-10-28 20:38] oberon2007 commented on #90
Meanwhile the behaviour has changed:
I can enter a new username and the settings, and when I confirm the control center closes.
When I open it again, the new user is listed and it says "Account preparing...". That never changes and when I log out and back in the new user has disappeared again.

[2015-10-28 21:36] oberon2007 commented on #87
Seems I have solved this. The Trash needs to be created at /
Like this:
[code]
I have no idea why this problem occurs now suddenly. It was not an issue one or two weeks ago...
Do you have any idea? It would be great if we find a way for me to not have to create the dirs manually ... ;)

[2015-10-29 01:28] #95 closed

[2015-10-30 18:59] oberon2007 commented on #87
This seems to be some sort of a mysterious Gnome-based problem. On the latest manjaro Gnome ISOs we find exactly the same behaviour...

[2015-10-30 19:17] oberon2007 opened #98 "manjaro-deepin"
@fasheng, @mmetak, @felixonmars I would like to say thank you again for the great effort and the excellent work you have done sofar on making deepin available on Arch and archbased systems.
I am happy to let you all know that I have now managed to put together a really nice version of Deepin based on Manjaro and produced a live environment / install media. If you would like to have a look, here it

[2015-10-31 08:01] fasheng commented on #98
Thanks for your great job, Bernhard. And thanks for metak and felix's enthusiasm maintenance work. :+1:

In fact, Deepin desktop environment and apps are still very unstable now, thanks for your patient. We will try the best to improve them. :)

I just started downloading the iso image and waiting for another surprise. ;)

[2015-10-31 08:23] oberon2007 commented on #98
:) Thank you. Here's also a little teaser: https://www.youtube.com/watch?v=5TiuI3bsNm4

[2015-10-31 08:33] felixonmars commented on #98
Really nice work, thank you :)

[2015-10-31 08:34] fasheng commented on #98
Cool, The theme looks really beautiful !

About the logo icon, I thinks it doesn't matter for you just keep Deepin there. I'm not sure, maybe our designer like to draw one specially for you. ;)

[2015-10-31 08:46] fasheng commented on #98
We are writing a new community site now, and will describe such porting work there, so manjaro-deepin will not be alone :)

[2015-10-31 08:53] oberon2007 commented on #98
Do you mean the greeter? Want me to put back the original logo there? The desktop icon for 'Manjaro Welcome' actually comes with the Dalisha icon theme - I was very surprised? ;)

[2015-10-31 08:59] fasheng commented on #98
No, in my option, all the logo are OK for that you did not break the Deepin trademark, and just combine it with other harmless icons. :)

[2015-10-31 09:49] oberon2007 commented on #98
Ok, fine :-) of course I'm not a graphic designer, so if indeed a Deepin specialist would like to volunteer, that would be excellent ;-)

Am 31. Oktober 2015 09:59:21 MEZ, schrieb fasheng <notifications@github.com>:

--
Diese Nachricht wurde von meinem Android-Mobiltelefon mit K-9 Mail gesendet.

[2015-10-31 22:41] oberon2007 commented on #87
Still investigating the trash issue... Looks like gvfs (gdaemonvfs) is checking for the default trash scheme. So my theory is that when a user account is created the /.Trash-1000 dir is not created, but at the same time gdaemonvfs is informed that this is the scheme to be applied. I think only that explains why all filemangers are expecting /.Trash-1000 and not ~/.local/share/Trash and then fail t

[2015-11-01 00:33] oberon2007 opened #99 "transition to deepin-2015"
What is your opinion on the transition to deepin 2015 from the current state of packages? Will it be possible to update an installed system or will it be necessary to reinstall?

[2015-11-01 05:00] fasheng commented on #99
We'd like to do some work to make updating to deepin-2015 smoothly.

But there are two problems:
1.  some packages were re-factor by upstream, for example, dde-workspace was split to dde-dock and dde-launcher, gsettings schemas were put in new package named deepin-desktop-schemas, etc.
2.  some package's version format war changed and will break the upgrade rule, for example from `2014.3` to `3.0`

[2015-11-01 05:20] felixonmars commented on #99
I have just added some of the deepin 2015 packages into [community], and more will come very soon.

https://www.archlinux.org/packages/community/x86_64/deepin-api/
https://www.archlinux.org/packages/community/x86_64/libdui/
https://www.archlinux.org/packages/community/x86_64/deepin-mutter/
https://www.archlinux.org/packages/community/any/deepin-desktop-schemas/
https://www.archlinux.org/packages/c

[2015-11-01 11:09] oberon2007 commented on #99
Talking about version numbers ;) Can someone explain to me what is going on with [dde-control-center](https://github.com/linuxdeepin/dde-control-center/releases) versioning?
2.3 > 2.90 > 2.4 > 2.3 ?

[2015-11-01 11:16] fasheng commented on #99
Thanks felix.

I just plan to debug [arch-deepin:2015](https://build.opensuse.org/project/show/home:metakcahura:arch-deepin:2015) tonight, and you are always ahead of time. ;)

I'd like to see the latest DDE in arch official repository as soon as possible. But a fact is that, deepin-2015 is really unstable now, such as `dd-dock` and `dde-control-center` are broken in arhclinux. And some upstream p

[2015-11-01 11:16] oberon2007 opened #101 "interdependencies"
What makes customization of deepin extremely hard at the moment are the interdependencies of packages:
Customizing the **deepin-artwork-themes** package means that I need as a consequence a replacement for **dde-control-center** plus **dde-workspace** plus **startdde** because of the dependency chain.
I understand that it makes perfect sense for dde-control-center depending on deepin-artwork-theme

[2015-11-01 11:20] fasheng commented on #99
@oberon2007 well, the correct order is 2.3->2.4->2.90->3.0. but the order of the tag's data may be not in linear. for example, we may take a tag `2.90.1` in branch `release/3.0` today, and take a tag `2.3.3` in branch `release/2.3` for a bugfix release tomorrow.

[2015-11-01 11:50] fasheng commented on #101
Dispatched for dde-control-center, dde-dock-applets and dde-workspace.

[2015-11-01 12:05] oberon2007 commented on #99
Ah, ok! I am somewhat released ... :laughing:

[2015-11-01 12:12] oberon2007 commented on #101
Dispatched? You mean removed? That would be awesome ;)

[2015-11-01 13:23] oberon2007 commented on #101
Ok, I see the changes now. Thank you so much for your cooperation! :)

[2015-11-01 14:09] oberon2007 commented on #99
Is there a way to git clone the arch-deepin:2015 or should I familiarize myself with OBS to be able to achieve that?

[2015-11-01 15:07] fasheng commented on #99
You mean to pull all the source code in OBS? Try the command
[code]
But a problem is that most of the PKGBUILD could not build sucess locally now, you must fix the source url manually which defined in _service file...

[2015-11-01 15:16] felixonmars commented on #99
@fasheng I see, sorry for not contacting you beforehand :P

About the package names, since we are not splitting packages like Debian, I don't really want to add "lib" prefix etc only at downstream. For dde-api, I chose the name "deepin-api" because it's called that way inside the package anyway, and seems more consistent with other deepin packages. Personally I prefer "deepin-*" over "dde-*" simpl

[2015-11-01 15:20] oberon2007 commented on #99
Yes, great, @fasheng That works beautifully, thanks!

[2015-11-01 16:12] fasheng commented on #99
@felixonmars Yes, sometimes the `dde-` prefix  will be misunderstood with `deepin-`.  It doesn't matter to uniform them to `deepin-`. And you could rename other packages to match the Archlinux style.

So since lots of pacakge names will be changed, I will not consider of the compability from arch-deepin:2015 to [community].

Here is my plan:
1.  make arch-deepin:2015 workable
2. ask for the develo

[2015-11-01 18:24] mmetak commented on #99
@oberon2007 @felixonmars Just the other day I reported to @fasheng in IRC about the progress I've made in arch-deepin:2015. I managed to make some packages (dde-dock, dde-launcher, libdui, etc.) and I also reported some issues to @fasheng. Long story short, arch-deepin:2015 is very much so broken ATM. I barely played with it. ;-)
It's just a testing/playground from dde2015 in arch and is not meant

[2015-11-01 19:29] oberon2007 commented on #99
Perfectly fine for me. Thanks for the clarification, @mmetak From the manjaro perspective it will just be important that new packages of the same name as 2014-packages do not travel to arch community prematurely, because they would automatically update in manjaro and break those systems... Well the problem is not too big right now, since most packages are custom built and renamed to "-manjaro" any

[2015-11-01 19:47] mmetak commented on #99
@felixonmars already imported deepin-api (dde-api) into community and I'm thinking what would be the best way to tackle this issue since there will be file conflicts when installing 'deepin' group.

[2015-11-01 20:42] oberon2007 commented on #99
How about removing deepin-api temporarily from group deepin? dde-api is still available from your repo! ...

[2015-11-01 20:50] mmetak commented on #99
I think it would be best to just remove it from my repo and make some workarounds to pkgbuild files in obs to depend on deepin-api instead?

[2015-11-01 21:02] oberon2007 commented on #99
Looks like it concerns only **dde-control-center** and **dde-dock-applets**.

[2015-11-01 21:08] oberon2007 commented on #99
And then I guess **deepin-api** will need ``replace=dde-api``

[2015-11-02 03:47] fasheng commented on #99
OK, after think again, the fixed plan is:

1. adjust upstream package architecture and fix broken issues in OBS/arch-linux:2015 to ensure it workable, especially dde-dock, dde-launcher and dde-control-center
2. then after @mmetak and I think it is stable enough, will notice @felixonmars to continue the work for [community]

About to rename packages, just let @felixonmars to do such work, and it's

[2015-11-02 11:44] fasheng commented on #99
dde-dock/dde-launcher/dde-session-ui/libdui/deepin-metacity/deepin-desktop-base(not porting required, but it owns the default background) synced to Github with tags now.

[2015-11-03 13:18] fasheng commented on #99
`dde-dock`/`dde-launcher`/`dde-session-ui`/`dde-control-center`/`dde-wm` works now, but still are experimental...

[2015-11-04 14:14] fasheng commented on #99
Here is the fixed issues today
-   dde-control-center
    -   [X] no theme list in \`Appearance\` module
-   dde-daemon
    -   [X] enter "Date and Time" module cause system blocked
    -   [X] panic when changing wallpapers
        1.  missing default wallpaper
        2.  fix the default theme font name, use `FontName=DejaVu
                        Sans` instead of `FontName=Source Han Sans SC`

[2015-11-04 15:19] felixonmars commented on #99
Nice work, thanks!

[2015-11-04 18:15] SolarAquarion commented on #99
deepin-api is in the repo but the 2015/2014 repo is still asking for dde-api

[2015-11-05 03:16] oberon2007 commented on #99
@SolarAquarion , my understanding is that deepin-api, which is going to replace dde-api is in the repo already a little prematurely. For now dde-api is still the one being used as a dependency.

[2015-11-05 04:34] oberon2007 commented on #99
@fasheng , I am confused now about which PKGBUILDS to use to update for the existins manjaro-deepin installs. I thought I would just continue with the obs PKGBUILD from this (2014) github repo here and the version numbers of the pkgs currently in arch community suggest that those have been used for your Nov 3 Packages. But when I try to build dde-workspace now I get these build errors:
[code]

[2015-11-05 04:46] oberon2007 commented on #99
also a problem with startdde:
[code]

[2015-11-05 04:52] mmetak commented on #99
@oberon2007 is something wrong with the pkgbuild files in arch-deepin branch?

[2015-11-05 04:56] oberon2007 commented on #99
I am currently using these: https://github.com/fasheng/arch-deepin/tree/master/obs/home:metakcahura:arch-deepin (building in a clean chroot environment) Are they the ones to use right now? They give me the above errors.

[2015-11-05 05:05] mmetak commented on #99
OBS just rebuilt all the packages just fine like two hours ago... btw, yes those are the right ones, but fasheng should do a quick obs-sync it seems some of them need to be updated.

[2015-11-05 05:11] fasheng commented on #99
I see, the obs snapshot code in github/arch-deepin is out of date now, please checkout code from OBS directly instead. :)

2015年11月5日 下午12:56, 下午12:56，在 Bernhard Landauer <notifications@github.com> 已写:

[2015-11-05 05:13] oberon2007 commented on #99
I was already suspecting they were not up-to-date because for example version of the actual pkg dde-control-center is 2.90.3-2 while the PKGBUILD is still at pkgrel 1

[2015-11-05 05:15] oberon2007 commented on #99
Yes, I will use OBS PKGBUILDs in the future :) Thank you both! :)

[2015-11-05 05:30] mmetak commented on #99
@oberon2007 I suggest for you to simply checkout the repo with osc and keep updating it with 'osc up' from within the project directory. That way you'll always have the latest.
Also, when the deepin team finishes their work upstream with refactoring dde-workspace and fixing some other issues and later we get our arch-deepin:2015 branch somewhat usable for testing you're more then welcome to help t

[2015-11-05 05:55] oberon2007 commented on #99
Thank you very much, @fasheng ! :)
Well I have now cloned dde-workspace with osc and a get the same error :/ What else can be wrong on my end??

[2015-11-05 12:03] oberon2007 commented on #99
Ah. maybe I simply need to rebuild my libdeepin-webkit first ... I had put that in our repos, too in order to be able to build the other pkgs with the manjaro tools ...

[2015-11-05 13:24] fasheng commented on #99
ehmm, I'm not sure the reason for there is no computer to use around. maybe you could have a try for github/arch-deepin/pkgbuilds/dde-daemon, it should build success.

2015年11月5日 下午8:03, 下午8:03，在 Bernhard Landauer <notifications@github.com> 已写:

[2015-11-05 14:07] oberon2007 commented on #99
Ok. Rebuilding **libdeepin-webkit** fixed it. Thank you! :)

[2015-11-07 02:21] oberon2007 opened #102 "nautilus-root"
Is there any way to launch nautilus as root except from the terminal?
Adding a .desktop file in /usr/share/applications for gksu nautilus does not create an entry in the launcher.

[2015-11-08 05:53] fasheng commented on #102
Really? It works for me
[code]
Then you could find two `Files` icons in the launcher without  any more operations.

BTW you can put the `.desktop` file to `~/.local/share/applications` too.

[2015-11-08 17:54] jannickfahlbusch opened #103 "Deepin doesn't start"
Since yesterday, deepin refuses to start.

This is the error i get, when i run `startdde` or `startx`:
[code]

[2015-11-09 02:09] fasheng commented on #103
I updated system just now, then run `startx /usr/bin/startdde` and everything works fine.

About the errors you paste, I guess it's the output of `startdde` in tty which is not the correct way to launch DDE, you should use `startx` or `xint` instead. And please upload `~/.xsession-errors` if failed again. :)

[2015-11-09 02:35] ben-ix opened #104 "Corrupted Packages"
Hi when trying to download from default mirrror I get many errors

    :: File /var/cache/pacman/pkg/metacity-ubuntu-2.34.13.0ubuntu4.1-7-x86_64.pkg.tar.xz is corrupted (invalid or corrupted package (checksum)).
    :: File /var/cache/pacman/pkg/dde-api-2.91.0-2-x86_64.pkg.tar.xz is corrupted (invalid or corrupted package (checksum)).
    :: File /var/cache/pacman/pkg/dde-daemon-2.92.0-2-x86_64.pk

[2015-11-09 02:38] oberon2007 commented on #102
Hm. Yes this creates a second entry, but I have the problem that no matter what I enter under Name= or Icon= , it uses the same icon as normal Nautilus and is calles "Files" ...

[2015-11-09 02:59] oberon2007 opened #105 "rebuild of pkgs"
I see that your pkgs are being rebuild very often and I don't really see any obvious reasons for that - No change in the PKGBUILD and no new commits at linuxdeepin... Are they just automatically rebuild regularly in any case? Since I build the custom manjaro pkgs manually it would be good to know for me, when's the time for me to update them.

[2015-11-09 04:32] fasheng commented on #102
I see, looks dde-launch don't monitor the modification of the desktop file content. How about re-login ?

[2015-11-09 05:22] fasheng commented on #105
In the past, I create a topic to help people to receive news of arch-deepin https://github.com/fasheng/arch-deepin/issues/67. But the old process(generating PKGBUILDs for aur/obs/pkgbuild, and sync changes from obs) is broken since some packages are moved to [community]. And I plan to fix it later.

For manjaro-deepin, I think you don't need to worry about it before `OBS/arch-deepin:2015` is ready

[2015-11-09 05:24] fasheng commented on #104
Well, the checksum error is a bug of OBS, I'm afraid you have to install them manually...

And about the conflicts of `deepin-api`([community]) and `dde-api`(OBS/arch-deepin), it is caused by the unfinished work that move Deepin packages to [community]. Simply, please remove `deepin-api` and use `dde-api` instead now.

BTW: `deepin-api` already been removed from `deepin` group, and no package requ

[2015-11-09 11:38] ben-ix commented on #104
Thanks a lot, issue fixed!

Thank you for all your work bringing deepin to arch.

[2015-11-09 11:38] #104 closed

[2015-11-09 16:58] oberon2007 commented on #102
Yes, thank you! Re-logging helps ;)

[2015-11-09 16:58] #102 closed

[2015-11-09 17:01] oberon2007 commented on #105
thank you.

[2015-11-09 17:01] #105 closed

[2015-11-09 21:53] jannickfahlbusch opened #106 "Installation of the groups doesn't install greeter"
When i install `deepin` and `deepin-extra` the `lightdm-deepin-greeter` is missing in the groups.
Am i doing anything wrong, or is the packagemissing in the group?

[2015-11-10 02:07] fasheng commented on #106
Thanks for your report, this package has been added to `deepin` group now.

[2015-11-10 08:19] #106 closed

[2015-11-11 23:32] SolarAquarion commented on #103
[.xsession-errors.txt](https://github.com/fasheng/arch-deepin/files/32431/default.xsession-errors.txt)

Here is the file for your needs

[2015-11-12 02:37] fasheng commented on #103
@SolarAquarion So you installed the latest startdde 2.91.1.r17.ge972e6e-0 in arch-deepin:2015, right?

It looks like caused by dbus, how about run `dbus-launch --exit-with-session xinit` in tty?

[2015-11-12 02:40] SolarAquarion commented on #103
I'll try that
On Nov 11, 2015 9:37 PM, "fasheng" <notifications@github.com> wrote:

[2015-11-12 17:35] SolarAquarion commented on #103
[.xsession-errors.txt](https://github.com/fasheng/arch-deepin/files/33164/default.xsession-errors.txt)

still getting it

[2015-11-13 02:51] fasheng commented on #103
Strange issue. Could you upload the updated package list in `/var/log/pacman.log` at the moment that the first time startdde launche failed?

[2015-11-13 15:57] SolarAquarion commented on #103
[pacman.txt](https://github.com/fasheng/arch-deepin/files/34104/pacman.txt)

[2015-11-13 16:02] fasheng commented on #103
thanks

2015年11月13日 下午11:57, 下午11:57，在 SolarAquarion <notifications@github.com> 已写:

[2015-11-14 20:19] oberon2007 opened #107 "default_background"
At the moment **/usr/share/backgrounds/default_background** is owned by **dde-workspace**.
Unfortunately as a consequence in order to customize the default background I have to build a custom dde-workspace just for that...
Would it maybe be possible to move that file to either **artwork-themes** or **gsettings** instead? I think those would be the logical places for that anyway...

[2015-11-15 05:14] fasheng commented on #107
Yes, for 2015, dde-workspace will be removed and we just did what you said :)

2015年11月15日 上午4:19, 上午4:19，在 Bernhard Landauer <notifications@github.com> 已写:

[2015-11-15 05:48] oberon2007 commented on #107
ok. thanks! :)

[2015-11-15 05:48] #107 closed

[2015-11-15 22:55] koesherbacon commented on #34
Dopstar:
+1 buddy.  I have yet to restart to see if it goes back, but so far so  good.

[2015-11-17 14:25] fasheng commented on #99
@felixonmars
Here is the package list that could be moved(or updated) to [community] now.

| package               |      tag | commit   | note     |
|-----------------------|----------|----------|----------|
| dbus-generator        |    0.6.2 | gbf4bf4a |          |
| dde-account-faces     |    1.0.8 | gb7bde27 |          |
| deepin-artwork-themes |  15.10.1 | gaa39fbc |          |
| deepin-curso

[2015-11-17 14:32] felixonmars commented on #99
OK, thank you. So `deepin-wm` was superseded by `deepin-mutter`?

[2015-11-17 15:12] fasheng commented on #99
Yes, and deepin-wm don't need rebuild this time.

2015年11月17日 下午10:33, 下午10:33，在 Felix Yan <notifications@github.com> 已写:

[2015-11-17 15:15] felixonmars commented on #99
I see. I've bumped most of the packages now, and I'll leave plymouth-theme-deepin behind for now as we don't have any plymouth in our repos. I'll start to experiment with DDE-related packages tomorrow :)

[2015-11-17 16:30] oberon2007 commented on #99
This is maybe a stupid question but ... what exactly is deepin-mutter needed for now?
At the moment in any case I get:
[code]
Suppose it will need the new **deepin-desktop-schemas** ?

[2015-11-17 16:30] fasheng commented on #99
Thanks. About deepin-mutter, I remember the old version of in [community] still is 3.16 instead of 3.18 just now, so rebuild deepin-wm is required. Maybe you have did it :)

2015年11月17日 下午11:15, 下午11:15，在 Felix Yan <notifications@github.com> 已写:

[2015-11-17 16:31] oberon2007 commented on #99
I don't even have deepin-wm installed!

[2015-11-17 16:37] oberon2007 commented on #99
I am confused now, sorry! Is deepin-wm a new (2015) pkg?

[2015-11-17 16:43] felixonmars commented on #99
@fasheng No. There was no soname bump and I didn't encounter any issues, so I didn't rebuild it yet.

[2015-11-17 16:43] oberon2007 commented on #99
Obviously, since it depends on **deepin-desktop-schemas** ;)

[2015-11-17 16:46] fasheng commented on #99
yes, deepin-wm is a new wm to replace of deepin-compiz in 2015. and as a general wm, you could use it without limitation.

2015年11月18日 上午12:37, 上午12:37，在 Bernhard Landauer <notifications@github.com> 已写:

[2015-11-17 16:50] fasheng commented on #99
works fine is just ok :)

2015年11月18日 上午12:43, 上午12:43，在 Felix Yan <notifications@github.com> 已写:

[2015-11-17 17:01] felixonmars commented on #99
One more question: is gtk-engine-unico really requested? It should be useless since GTK 3.16+...
https://blogs.gnome.org/mclasen/2014/10/23/an-early-view-of-gtk-3-16/

[2015-11-17 17:04] oberon2007 commented on #99
So **startdde** still depends on **deepin-compiz** whil **deepin-wm** replaces **deepin-compiz**, but these two are not conflicting?

[2015-11-17 17:10] oberon2007 commented on #99
And how to solve the conflicting files in **/usr/share/glib-2.0/schemas** when installing the new **deepin-desktop-schemas** ? Will ``replaces=deepin-default-gsetting`` in deepin-desktop-schemas solve that? Or is it more complicated than that?

[2015-11-17 17:12] oberon2007 commented on #99
[code]
Phew!

[2015-11-17 17:50] oberon2007 commented on #99
Well it looks like it's impossible to install **deepin-desktop-schemas** and **dde-daemon** at the same time...
Can you please explain to me again which packages are to be removed now? deepin-workspace? dde-daemon aswell??

[2015-11-17 23:44] fusion809 opened #108 "Missing checksums for multiple packages and some packages missing from openSUSE server"
On a fresh Arch Linux VM I added the pacman repo /etc/pacman.conf, although I enabled both servers as I know from past experience missing packages (or max memory exceeding errors) are not uncommon with these servers. Then I ran `sudo pacman -Sy deepin-extra deepin` to get the error:
[code]

I then added a hashtag (#) before the second server (the UK-based one) and re-ran `sudo pacman -Sy deepin-ex

[2015-11-18 01:57] fasheng commented on #99
@felixonmars
For depends of `deepin-mutter`, please use `deepin-desktop-schemas` instead of `gsettings-desktop-schemas` and `gnome-settings-daemon`.

For `gtk3-engines-unico`, you are right, just remove it from depends.

[2015-11-18 02:11] felixonmars commented on #99
OK, both updated.

[2015-11-18 02:29] fasheng commented on #108
Well, this is a troublesome issue of OBS for Archlinux users that the the checksums will be out of date after package rebuild without version changed. Sometimes we will increase `pkgrel` manually to avoid such issues, but most of the cases, please install the packages manually through `pacman -U`.

[2015-11-18 02:32] fasheng commented on #99
@oberon2007
For the checksums problem which is a troublesome issue of OBS for Archlinux users that the the checksums will be out of date after package rebuild without version changed. Sometimes we will increase `pkgrel` manually to avoid such issues, but most of the cases, please install the packages manually through `pacman -U`.

For the conflicting issues from 2014 to 2015 especially for manjaro

[2015-11-18 04:03] fusion809 commented on #108
What all of them? Or just the corrupted ones? If it's just the corrupted ones well I just tried that and as soon as I run `sudo pacman -Sy deepin deepin-extra` to install the remaining packages it started to download the packages I just downloaded and installed manually and ran into the same checksum error. Downloading all the packages manually sounds like a mammoth task, surely there must be anot

[2015-11-18 04:17] fusion809 commented on #108
Nvm, I found the answer. I merely added `IgnorePkg` lines for each corrupted package to `/etc/pacman.conf` and re-ran `sudo pacman -Sy deepin deepin-extra`.

[2015-11-18 04:17] #108 closed

[2015-11-18 05:07] oberon2007 commented on #99
@fasheng and @felixonmars for me at the moment it would just be important to know which pkgs will drop away and which ones are going to be used. Sofar I have not found a way to install deepin-desktop-schemas due to conflicting packages... I am just afraid that one day one of the new pkgs with new depends will render the existing installs un-updateable.
It would really be great if we could discuss

[2015-11-18 07:42] fasheng commented on #99
@felixonmars @oberon2007 @mmetak

| new 2015 packages          | conflicts          | replaces                 | note                                                  |
|----------------------------|--------------------|--------------------------|-------------------------------------------------------|
| deepin-*                   |                    | dde-*                    | dde-api, dde-daem

[2015-11-18 07:45] felixonmars commented on #99
deepin-qml-widgets is still needed by

   - deepin-movie
   - deepin-screenshot
   - deepin-social-sharing

Are they going to be updated to remove the dependency?

[2015-11-18 07:58] fasheng commented on #99
No, just left `deepin-qml-widgets` there. I just forgot the package still be used by apps. ;)

[2015-11-18 08:08] felixonmars commented on #99
Okay.

[2015-11-18 13:46] fusion809 opened #109 "Deepin Terminal missing ttf-dejavu dependency"
Hi,

I'm not sure whether I should report this issue here or not (as I understand `deepin-terminal` has been moved to the community repo) but it seems that the `deepin-terminal` package is missing the `ttf-dejavu` dependency. I say this because I tried to launch the Deepin Terminal within DDE and it failed, so I ran `deepin-terminal` from LXTerminal and it gave me an error message (sorry I didn't

[2015-11-18 14:01] fasheng commented on #109
Thanks for the detailed report, @felixonmars will help us to solve it ;)

[2015-11-18 14:32] felixonmars commented on #109
Fixed in deepin-terminal 1.1.0.20151104-1

[2015-11-18 14:32] #109 closed

[2015-11-18 17:55] oberon2007 commented on #99
Thank you very much for the list, @fasheng , that makes things a lot clearer to me now :) So that means, one day we will basically switch **startdde**'s dependency from **deepin-compiz** to **deepin-wm** and the other new dependencies of dependencies and conflicts/replaces arrays should solve the rest. I will just have to coordinate things on the manjaro-end by making the necessary preparations an

[2015-11-18 19:31] hoahau commented on #94
mmm...but... not for me...
take a look..
-------
➜  ~  nautilus

** (nautilus:29342): WARNING **: Couldn't connect to accessibility bus: Failed to connect to socket /tmp/dbus-anfymrnTfT: Conexión rehusada

(nautilus:29342): Gtk-WARNING **: Failed to register client: GDBus.Error:org.freedesktop.DBus.Error.ServiceUnknown: The name org.gnome.SessionManager was not provided by any .service files

(nau

[2015-11-18 20:27] hoahau commented on #94
..mm.. :(...
..in detail... as root...
it look like this...
----
gpartedbin:16640): GLib-CRITICAL **: Source ID 2227 was not found when attempting to remove it

(gpartedbin:16640): GLib-CRITICAL **: Source ID 2231 was not found when attempting to remove it

(gpartedbin:16640): GLib-CRITICAL **: Source ID 2230 was not found when attempting to remove it
root@mikele-pc:~# nautilus

(nautilus:2731): G

[2015-11-19 00:57] oberon2007 commented on #99
I have this problem when trying to build **deepin-daemon**:
``gcc-go and go are in conflict``
but:
[code]
and:
[code]
How to solve this?

[2015-11-19 02:05] fasheng commented on #99
@oberon2007
A temporary solution, remove community/deepin-dbus-generator and use the one in OBS/arch-deepin:2015, or wait me to change the default compiler to gccgo in OBS which will be done this week.

And I also suggest continue the manjaro-deepin work after all packages moved to [community], because some packages may be changed by Felix, such as `go-packages`, I guess it will be split and the f

[2015-11-19 02:05] fasheng commented on #99
Here is my plan:
- `2015-11-20` upstream freeze code for Deepin 2015 alpha2
- `2015-11-22` rebuild all go packages in OBS through gccgo
- `2015-11-26` if things works fine, let @felixonmars move the rest packages to [community]
- `??` then @oberon2007 could continue the work for manjaro-deepin. at the same time, @mmetak and I will change obs/arch-deepin as a testing repo just like before(we will t

[2015-11-19 02:20] oberon2007 commented on #99
Cool, thank you! :)
Exchanging **deepin-dbus-generator** would be ok. but I still have the problem with **dde/deepin-api** dependeing on gcc-go ...!

[2015-11-19 03:36] oberon2007 commented on #99
Oh. I see. You mean to use the old **dde-api** meanwhile, right?

[2015-11-19 03:41] fasheng commented on #99
@oberon2007 yes

[2015-11-19 03:58] oberon2007 commented on #99
I get this error when trying to build deepin-daemon now:
[code]

[2015-11-19 03:59] oberon2007 commented on #99
Seems to be a wrong path:
[code]

[2015-11-19 04:10] oberon2007 commented on #99
I think I got it now ;)
Guess I need to build the newer dde-api-2.92.0 without gcc-go ...

[2015-11-19 05:20] oberon2007 commented on #99
unfortunately I cannot get dde-api-2.92.0 to build with go.
[code]

[2015-11-19 05:52] fasheng commented on #99
@oberon2007 looks you should update go-packages first ;)

[2015-11-19 05:55] oberon2007 commented on #99
Oh. I had completely forgotten that I was using my own ... Thank you! :D

[2015-11-19 06:45] fasheng commented on #99
@oberon2007 Looks like caused by the Makefile issue by dde-api, will fix it later...

[2015-11-19 07:03] oberon2007 commented on #99
I have built a new version of go-packages and used a later commit, that solves the issue with the sound-error :)

[2015-11-19 07:07] oberon2007 commented on #99
commit c37ebaf89c526f951e2bea84297a5cae0d665d75 seems to work

[2015-11-19 09:19] oberon2007 commented on #99
Ok. I'm nearly there to finally try deepin-2015 - exciting! :) But seems like I am still missing something...
After booting I get the new greeter, then the new sound-theme plus my background-image and I can hear that Skype is autostarted ;)
But: I appear to have no Dock and neither the Super-key nor right-click will do anything.
So I cannot access the launcher or control center for any further inq

[2015-11-19 09:39] fasheng commented on #99
@oberon2007 oh, I forget the front-end packages before, including deepin-dock, deepin-desktop, deepin-launcher, and the previous table already been updated ;)

[2015-11-19 12:57] oberon2007 commented on #99
:D ok. That explains a lot ;)

[2015-11-19 16:16] oberon2007 commented on #99
**deepin-control-center** also, I guess?

[2015-11-20 12:09] fusion809 opened #110 "Can't install Deepin Terminal"
Hi,

After my last issue relating to the Deepin Terminal, the package was updated adding the new dependency I pointed out, which while great, meant that when I updated my system Deepin Terminal was updated and for some reason this update gave the error:

[code]

and now I can't launch Deepin Terminal (even running `deepin-terminal` from LXTerminal fails to launch it).

Thanks for your time,
Brento

[2015-11-21 05:55] fasheng commented on #110
Strange issue, but `pacman -Syu` work fine for me and deepin-terminal could launch as normal.

[2015-11-22 18:03] fasheng commented on #99
@felixonmars
New tags:

| project                |  new tag |
|------------------------|----------|
| dbus-generator         |    0.6.3 |
| go-lib                 |    0.4.2 |
| dbus-factory           |   2.92.1 |
| dde-api                |   2.92.1 |
| dde-daemon             |   2.93.1 |
| startdde               |   2.92.1 |
| libdui                 |    1.2.1 |
| dde-control-center     |   2.91.

[2015-11-23 06:51] felixonmars commented on #99
Current status:

Moved and updated: dbus-generator/dbus-factory/dde-api/libdui/dde-dock/deepin-notifications/deepin-mutter/deepin-wm/deepin-desktop-schemas/deepin-screenshot/deepin-qml-widgets/deepin-social-sharing

On hold: dde-daemon (Failed to build)

PR sent: startdde (Only one LDFLAGS fix, no other problems)

Not started yet: dde-control-center/dde-desktop/dde-launcher/dde-session-ui/deepin-f

[2015-11-23 07:29] fasheng commented on #99
@felixonmars

Thanks.

The gccgo build issue  for dde-daemon(exactly, is go-dlib/pulse) for Archlinux/gccgo is caused by cgo which already fixed in go `1.5`. But what different from Debian is that, Archlinux make gccgo conflicts with go, so the cgo version we are using still is the broken `1.4`.

And the developer is working hard for it now...

[2015-11-23 07:33] felixonmars commented on #99
Thanks a lot for that :)

[2015-11-23 08:06] fasheng commented on #99
dde-daemon gccgo build issue solved now, please try the latest commit again:
`238151791673412dedf333363b3a37343c461acb`

[2015-11-23 08:29] fasheng commented on #99
Just forgot point out the project ;)
`go-lib` -> `238151791673412dedf333363b3a37343c461acb`

[2015-11-23 15:54] jannickfahlbusch opened #111 "Can't update"
Since today, i am unable to update deepin to the newest version.

This is, what `pacman` outputs:
('existiert im Dateisystem' translates to 'exists in the filesystem')
[code]

[2015-11-23 16:03] felixonmars commented on #99
All mentioned packages were moved and updated. I'll adjust the replaces/conflicts array tomorrow.

[2015-11-23 17:09] fasheng commented on #99
Great job, thanks!

On Nov 24, 2015, 12:03 AM, at 12:03 AM, Felix Yan <notifications@github.com> wrote:

[2015-11-23 19:04] oberon2007 commented on #99
Awesome! Curiousely waiting :) My own experiments with the packages went quite well despite I was not able, yet to launch the control center from the dock or the launcher properly - could only do it from the terminal so far - but the problem might be my custom manjaro desktop-schemas - will try again with the default when the arch pkgs are ready.
One strange issue: When I try to logout I get the d

[2015-11-23 22:07] philmmanjaro commented on #99
@oberon2007: seems you have to learn **Chinese** after all ;) I already merged the packages to our **unstable** branch.

[2015-11-24 01:54] fasheng commented on #111
I see, this is caused by the new added Deepin 2015 packages in [community]. Just wait a while, we will fix it(or fix most of them) today ;)

[2015-11-24 09:25] oberon2007 commented on #99
谢谢大家！

[2015-11-24 10:13] fasheng commented on #99
@oberon2007
Wow，amzing! Excited to discuss you in Chinese :smile:

[2015-11-24 10:17] felixonmars commented on #99
@oberon2007 I cannot reproduce the problem. I use `en_US.UTF-8` locale and the dialog is filled with English words correctly.

[2015-11-24 13:47] oberon2007 commented on #99
Yes, @felixonmars , when I use your original pkgs it's not a problem. As I suspected already this must be related to the custom pkgs. I'm starting off again now from a regular build and then see how to best accomplish my customizations :)

[2015-11-24 15:00] oberon2007 commented on #97
This issue persists with the newest pkgs.

[2015-11-24 15:23] felixonmars commented on #97
Arch defines a system uid/gid range for random system user assignment:

[code]

I have tried some hack to remove this range from d-c-c, but didn't succeed. Any hints? @fasheng

[2015-11-24 15:26] oberon2007 commented on #99
What's the new configuration for file-manager pkgs? What to install now? **deepin-file-manager**, **nautilus**? **deepin-nautilus-properties**? (not available in arch or deepin:2015 atm)

[2015-11-24 15:55] fasheng commented on #97
try hack the deepin-daemon/account module

On Nov 24, 2015, 11:23 PM, at 11:23 PM, Felix Yan <notifications@github.com> wrote:

[2015-11-24 15:57] oberon2007 commented on #99
I think whatever the nautius pkgs neede are, they should be depends of **deepin-desktop** or **deepin-dock** since they will not work properly without.

[2015-11-24 15:58] fasheng commented on #99
there is no deepin filemanager gui now, just a backend and used by deepin-desktop

On Nov 24, 2015, 11:26 PM, at 11:26 PM, Bernhard Landauer <notifications@github.com> wrote:

[2015-11-24 16:02] oberon2007 commented on #99
So which pkgs to install? **nautilus** obvioiusly, then we have a **deepin-file-manager** pkg available. What about **deepin-nautilus-properties** now? Do I still need that?

[2015-11-24 16:10] oberon2007 opened #112 "request remove depends"
@felixonmars @fasheng , would it be possible to remove **deepin-desktop-schemas** from the depends-array of **deepin-daemon**, **deepin-mutter** and **deepin-wm** ?
That will allow me to use a custom gsettings package. Maybe you would like to add it to group **deepin** instead?

[2015-11-24 16:33] felixonmars commented on #112
Removing the dependency will actually break functionality if the user just happen to install the package. How about making your custom package provides `deepin-desktop-schemas` and use a meta-package to depend on all packages you need?

[2015-11-24 16:53] felixonmars commented on #97
Review sent :P
https://cr.deepin.io/#/c/9008/
(the jenkins failure looks cryptic to me :/)

And package to test with: (works for me, at least :P)
http://pkgbuild.com/~fyan/staging/deepin-daemon-2.93.1-3-x86_64.pkg.tar.xz

(This is my first Go lines, sorry if it contains anything stupid...)

[2015-11-24 18:36] brendengibson commented on #111
Should we be updating from the [community] repo now instead of [home_metakcahura_arch-deepin_Arch_Extra]?

[2015-11-24 18:51] oberon2007 commented on #112
It works with the provides array, yes, thank you. I was not expecting pacman to be so clever during building an ISO to not install those other dependencies first :)

[2015-11-24 18:51] #112 closed

[2015-11-24 20:14] oberon2007 commented on #99
Right now dde-desktop doesn't seem to work for me (at least not in vbox)
[code]
Also: In **control-center** under "Personalization" I see no entries under **Theme** or **Fonts**.
Seems like maybe there is a problem with **deepin-artwork-themes**?
The dir **/usr/share/backgrounds/** doesn't exist while gsettings **com.deepin.dde.appearance** has ``background file:///usr/share/backgrounds/default_ba

[2015-11-25 01:56] fasheng commented on #111
Well, Deepin 2015 packages in [community] still in alpha stage now, if you want have a try, run the following commands(anything missing please let me know):
[code]

And for the [home_metakcahura_arch-deepin_Arch_Extra] repo, we have not update it amost a month, and currently not plan to fix your problem...

[2015-11-25 02:49] felixonmars commented on #99
@oberon2007 All but the first issue have already been addressed in the Arch [community] packages. Please try `virtualbox-guest-modules` for the first issue :)

[2015-11-25 03:15] fasheng commented on #97
Great skill!
I fill the testing code and it should pass the checking of jenkins, now just wait for our developer to review it;)
@jouyouyun

[2015-11-25 07:03] felixonmars commented on #110
Please take a look at this thread: https://bbs.archlinux.org/viewtopic.php?id=56373

It may come from a broken installation etc, and please confirm that the files do not belong to an installed package before proceeding with `--force`.

[2015-11-25 07:59] fusion809 opened #113 "dde-account-faces and deepin-account-faces are in conflict"
Hi,

On a fresh Arch VM I ran (after adding the appropriate lines to `/etc/pacman.conf`) `pacman -Sy deepin deepin-extra --noconfirm` as root and it gave the error:

[code]

Thanks for your time,
Brenton

[2015-11-25 08:15] felixonmars commented on #113
I think you should get rid of the [home_metakcahura_arch-deepin_Arch_Extra] repo and try again :)

[2015-11-25 09:11] fusion809 commented on #113
Thanks, it worked.

[2015-11-25 09:11] #113 closed

[2015-11-25 10:41] oberon2007 commented on #99
@felixonmars what do you mean by "addressed" ? I am using all your latest packages with nothing customized right now. ``linux41-virtualbox-guest-modules 5.0.8-1`` are installed of course...

[2015-11-25 10:48] oberon2007 commented on #99
I am still not clear about which pkgs need to be installed. Is **deepin-nautilus properties** still needed? Should **deepin-file-manager** already be installed? In any case I am surprised that **nautilus** is not a dependency of any deepin pkg while as far as I understand, neither deepin-desktop nor deepin-dock work without it.

[2015-11-25 12:47] felixonmars commented on #99
`addressed` means `dealt with` in the context :P

I have updated deepin-dock to depend on nautilus, and I'm not sure of `deepin-nautilus-properties` either.

[2015-11-25 12:48] oberon2007 commented on #99
@felixonmars I'm sorry! I didn't realize that your latest pkgs have not been copied over to the manjaro-repos, yet - I will try again later, then :)
vb guest-modules were already installed of course and I had the same situation running on hardware from a USB ... I'll report back as soon as I have the latest pkgs installed.

[2015-11-25 13:05] felixonmars commented on #99
virtualbox guest module packages may have problems with latest xorg, but my memory may not be good :3

[2015-11-25 13:11] oberon2007 commented on #99
Another little detail: Maybe **deepin-desktop-schemas** should depend on **deepin-gtk-theme** (maybe also **deepin-sound-theme** or **deepin-artwork-themes**?

[2015-11-25 13:15] felixonmars commented on #99
You are right. I am adding all these 3 deps.

[2015-11-25 17:43] brendengibson commented on #111
Thank you for the info, looks like some of the install info here isn't up to date (I'm new here). I updated using [community] repo and all is working well. My network widget is still missing from the dock, but maybe that's by design. I don't miss it anyway, was truly only concerned with the sound and battery widgets.

Thanks for the hard work being completed by all here!

[2015-11-25 17:48] jannickfahlbusch commented on #111
Is the whole deepin repo completly migrated to [community]?

[2015-11-25 21:25] oberon2007 commented on #99
So. I just built a new ISO with all the latest community pkgs in group deepin and deepin-extra.
The default background is now showing but cannot be changed and **deskop icons** are not displayed. When I add a program from the launcher with right-click>"Send to desktop" the status is changed only in that next time I right-click that same app in the launcher the selection shows "Remove from desktop"

[2015-11-25 21:56] oberon2007 commented on #99
The issue with the **user icons** is solved by installing **accountsservice**. ... ;)

[2015-11-25 22:05] oberon2007 commented on #99
In **efficient** or **classic** mode desktop icons for Computer and Trash are displayed, but not any added apps.

[2015-11-25 22:07] oberon2007 commented on #99
With accountsservice installed the user icon is now displayed in the greeter and in the user list, but after reboot the header of "Home" in Control Center is empty again.

[2015-11-25 22:11] oberon2007 opened #114 "Deepin 2D ?"
In the greeter I now have a choice between session "Deepin" and "Deepin 2D". What's the difference?

[2015-11-26 00:45] felixonmars commented on #114
The former is using deepin-wm (Gala/Mutter) while the latter is using deepin-metacity, which has less graphics effects and should run more smoothly on older hardware.

[2015-11-26 02:19] fasheng commented on #111
Yes, all the latest Deepin 2015 packages exists in [community] now. For the difference from OBS:arch-deepin(we call it 2014), see this comment:

https://github.com/fasheng/arch-deepin/issues/99#issuecomment-157633737

[2015-11-26 02:36] fasheng commented on #63
deepin-compiz is dropped in Deepin 2015, please try the latest packages in [community] instead ;)

[2015-11-26 02:36] #63 closed

[2015-11-26 02:39] fasheng commented on #85
Thanks all, most of the Deepin packages exists in [community] now.

[2015-11-26 02:39] #85 closed

[2015-11-26 02:44] fasheng opened #115 "desktop-toggle not works"
Run `/usr/lib/deepin-daemon/desktop-toggle` and got errors
[code]

[2015-11-26 02:45] fasheng opened #116 "dde-session-daemon print lots of `g_key_file_get_uint64` errors"
[code]

[2015-11-26 02:46] fasheng opened #117 "dde-session-daemon print keybinding warnings"
[code]

[2015-11-26 02:49] fasheng opened #118 "dde-session-daemon print lots of "dbusProperty:RSSI" errors"
[code]

[2015-11-26 02:56] felixonmars commented on #99
I failed to find out how the greeter was calling accountsservice's dbus interface, any hints?

I have added accountsservice as dependency of deepin-dbus-factory, which is a dependency of deepin-control-center.

[2015-11-26 03:01] fasheng opened #119 "Inconsistent icon of sublime text 3 in dock and alt-tab which launched from synapse"
**Steps to reproduce:**
1. install related packages `yaourt -S synapse sublime-text-dev`
2. launch sublime from synapse
3. see the icon of sublime in dock and alt-tab

**Actual results:**
The icon of sublime in dock and alt-tab is different.

**Expected results:**
The icon of sublime in dock and alt-tab is the same.

[2015-11-26 03:21] #101 closed

[2015-11-26 03:25] #93 closed

[2015-11-26 03:28] #61 closed

[2015-11-26 03:29] #58 closed

[2015-11-26 03:34] fasheng commented on #37
Fixed by the Deepin 2015 alpha packages in [community].

[2015-11-26 03:34] #37 closed

[2015-11-26 03:36] fasheng opened #120 "Looks keyboard repeat delay/repeat not working in control center"

[2015-11-26 03:37] fasheng opened #121 "Blocked issue when enter systeminfo module"
[code]

[2015-11-26 03:38] fasheng opened #122 "There is no account icon in the main page of control center"

[2015-11-26 03:39] fasheng opened #123 "Control center crashed when press back to main page from account module"

[2015-11-26 03:40] felixonmars opened #124 "New window pop up effects prevent wine steam's menu from working properly"
They also delay windows like fcitx's candidate window. I hope there is a way to disable pop up effects for certain classes of windows.

[2015-11-26 03:41] fasheng opened #125 "DBus ServiceUnknown error for com.deepin.dde.launcher"
[code]

[2015-11-26 03:43] fasheng opened #126 "Desktop load thumbnails failed and prints lots of errors in backend"
[code]

[2015-11-26 03:44] fasheng opened #127 "Dock panic with error "runtime error: invalid memory address or nil pointer dereference""
[code]

[2015-11-26 03:45] fasheng opened #128 "Dock prints lots of "firefox overlap dock" errors under "Smart hide" mode"
[code]

[2015-11-26 03:46] felixonmars opened #129 "dde-preload is a CPU hog"
dde-preload takes 100% CPU (one core) once or twice every minute, and lasts for 10~20s. This costs much battery.

[2015-11-26 03:47] felixonmars commented on #69
It works fine here, maybe something fixed upstream?

[2015-11-26 04:02] fasheng commented on #99
@oberon2007
For the **Personalization** issues, please update deepin-artwork-themes to the latest **15.10.1.20151118-2**

@felixonmars
In fact, you should add accountsservice to depends of deepin-daemon, all the code in dbus-factory is just a wrapper. And in upstream, deepin-daemon depends on dbus-factory for the golang dbus wrapper code, but we split them in arch :P

[2015-11-26 04:12] felixonmars commented on #99
I see, got it. I'm updating `deepin-daemon` to include my 2 patches (hehe <(=^_^=)>) and the dependency on accountsservice, and also fixing the missing `deepi n-daemon` dependency on `deepin-session-ui`.

[2015-11-26 04:16] felixonmars opened #130 "{Feature Request} Add support to select default file manager to control-center"
Currently double-clicking "Computer" will open Dolphin here for me, and I don't see a graphical way to change this. (Also Dolphin doesn't seem to handle `computer://`, so maybe even a blacklist could be implemented here?)

[2015-11-26 06:21] felixonmars commented on #99
Update: More dependency fixes were applied to deepin-session-ui, deepin-desktop, deepin-dock, deepin-launcher, and deepin-control-center. These were extracted from dbus interface calls in code.

[2015-11-26 08:35] fasheng commented on #72
We will never see Deepin Guide from now on~

[2015-11-26 08:35] #72 closed

[2015-11-26 09:22] oberon2007 commented on #97
Solved by the new pkg. :) Thanks a lot @felixonmars !

[2015-11-26 09:22] #97 closed

[2015-11-26 09:45] felixonmars opened #131 "Missing and inconsistent icon for xterm"
xterm's icon is missing in the launcher and dock, while synapse and other desktop environment would handle it correctly. There's also an inconsistency: Alt-tab does show a default icon, so it's different from dock and launcher's completely blank.

[2015-11-26 09:56] oberon2007 commented on #114
Great, thanks! :)

[2015-11-26 10:00] oberon2007 commented on #111
@fasheng could you please comment on **deepin-nautilus-properties** ?
It was a Deepin-2014 pkg already, then I read that it was going to be dropped with deepin-file-manager, now it is listed as a new pkg...
Is it needed? If so, it is still missing in arch-community. I have built it and added it to manjaro-community but I cannot see any difference when it is installed or not ;)

[2015-11-26 10:02] felixonmars commented on #111
I have added it as a dependency of deepin-desktop. It is used in any files' right-click menu on desktop.

[2015-11-26 10:04] oberon2007 commented on #111
Thanks for the explanation and for adding. So I can drop the overlay now. ;)

[2015-11-26 11:31] oberon2007 commented on #99
@fasheng **deepin-artwork-themes 15.10.1.20151118-2** is what I have already installed. Personalization not working though. Will see tonight if @felixonmars 's latest updates arrive if that helps... :)

[2015-11-26 11:54] fasheng commented on #99
so there is no theme in list, right? and please show us your theme.ini that in /usr/share/personalization and ~/.local

2015年11月26日 下午7:31, 下午7:31，在 Bernhard Landauer <notifications@github.com> 已写:

[2015-11-26 12:16] oberon2007 commented on #99
Exactly, Theme-list is empty.
**/usr/share/personalization/themes/Deepin/theme.ini** is the default installed by **deepin-artwork-theme
[code]
**personalization/** in **~/.local/share/** has not been created at all!!

[2015-11-26 12:33] oberon2007 opened #132 "Trayicons with additional black area and sometimes misplaces"
![2015-11-26-133024_107x96_scrot](https://cloud.githubusercontent.com/assets/11800714/11423118/0b5a7440-9442-11e5-8506-f9caeaba4ef5.png)
Also, sometimes Pamac icon is displayed twice with only one of them functional to clicks.
In Deepin 2014 they used to be displayed without the black area around the icons and better centered.

[2015-11-26 15:42] fasheng commented on #132
Fixing in upstream and mostly works, just waiting for the code merged.

2015年11月26日 下午8:34, 下午8:34，在 Bernhard Landauer <notifications@github.com> 已写:

[2015-11-26 15:56] fasheng commented on #99
The theme.ini only works with all components matched, if your deepin-daemon and deepin-control-center are the latest pkgs, too, try to change the font to some other one, and re-enter personalization module to see the result

2015年11月26日 下午8:16, 下午8:16，在 Bernhard Landauer <notifications@github.com> 已写:

[2015-11-26 16:16] oberon2007 commented on #99
Well, @fasheng that's exactly what I am doing. The pkgs are all the latest as of today. When I set the fonts, close and reopen Control Center, the Font fields are empty again and Theme Deepin never appears.

[2015-11-26 18:04] oberon2007 opened #133 "LunaCalendar detect language settings failed"
Settings keyboard to German and system language to English in Control Center leaves keyboard at English. Issuing ``setxkbmap de`` from the terminal works temporarily.
In any case the dock calendar looks like this:
![calendar](https://cloud.githubusercontent.com/assets/11800714/11428838/75bce3bc-9470-11e5-9be7-086a2dd271f0.png) ;)

[2015-11-26 19:33] oberon2007 opened #134 "cannot add desktop icons"
Clicking on an app in the launcher and selecting "Send to desktop" does not create a desktop icon.
When switching to efficient or classic mode, only icons for Computer and Trash are visible, but not the added applications.
Right-clicking the same app in the launcher for a second time shows the selection "Remove from desktop".
**edit:** Also a manually created **.desktop** file in **~/Desktop** is

[2015-11-27 01:01] felixonmars commented on #133
Yeah, and it's called LunarCalendar :P

[2015-11-27 01:38] fasheng commented on #133
Upstream issue，fixing now...

[2015-11-27 01:48] fasheng commented on #134
Should be caused by the thumbnails issue.
https://github.com/fasheng/arch-deepin/issues/126

[2015-11-27 01:48] #134 closed

[2015-11-27 02:03] fasheng opened #135 "Theme list is empty and all settings not works in personalization module"
@oberon2007 Let's discuss it here.
Could d-c-c(deepin-control-center) list your fonts correctly? And what's the output of `fc-list` in your system?

[2015-11-27 11:06] oberon2007 commented on #135
The entry for fonts in dcc is empty but when I click on the fields they are listed. I can select them but when I close dcc and re-open the fields are empty again.
Output of fc-list is the long list of everything in **/usr/share/fonts/...** as expected ;)

[2015-11-27 11:08] oberon2007 commented on #134
Maybe. I'm not sure, though, because not only the icon is missing. There is no text entry, either. But maybe the whole desktop item is not created then...
How do you get these log infos by the way?

[2015-11-28 02:36] brendengibson opened #136 ""Tap to Click" option always enabled"
"Tap to Click" option always enabled even if setting in Control Center is turned off.

Was working properly in previous builds.

[2015-11-30 06:12] gujralam commented on #129
When can we expect this issue to be fixed

[2015-11-30 06:32] fasheng commented on #129
it's ok in upstream, so still need debugging more for arch

2015年11月30日 下午2:12, 下午2:12，在 gujralam <notifications@github.com> 已写:

[2015-11-30 06:38] felixonmars commented on #129
The CPU usage is acceptable on my PC, too. The described usage in OP was on my laptop (ThinkPad x200s with 8GB ram), which has a low voltage CPU (L9400).

[2015-12-01 08:44] oberon2007 commented on #135
Do we have any hint on what is causing this? Is personalization working for you, @fasheng , @felixonmars and can I investigate any differences in my setup maybe?
I am blocked until this is solved.

[2015-12-01 08:46] felixonmars commented on #135
It works here. Can you try to install `adobe-source-han-sans-otc-fonts` or `adobe-source-han-sans-cn-fonts` and restart to see if it makes any difference?

[2015-12-01 09:09] oberon2007 commented on #135
Thank you, but no difference... I am still wondering if I am simply missing a crucial package. What I have here is only the two groups on top of a basic manjaro install that would normally work with any common desktop including Gnome and also Deepin 2014.3 It is kind of mysterious.

[2015-12-01 09:48] fasheng commented on #134
you mean the syslog? just using `journalctl -f` :)

[2015-12-01 10:04] fasheng commented on #135
anyway, the Deepin packages in [comkunity] works for felix and me, and I have asked our developer to help to solve it, maybe he will provide suggestions to us.

[2015-12-01 10:38] jouyouyun commented on #135
Please paste the following commands's output.
[code]
Thanks!

[2015-12-01 10:42] jouyouyun commented on #99
@oberon2007 , Please paste the following commands's outputs
[code]
Thanks!

[2015-12-01 10:53] oberon2007 commented on #135
Thank you very much, @jouyouyun !
I think that the output is what should be expected and also mind: The backgrounds, icon-themes and fonts are listed in dde-control-center. But they cannot be applied!
Only "Themes" is empty and as I said ~/.local/share/personalization is never created when you try to change the theming.
I'm still wondering if I am missing a crucial component or package to make the

[2015-12-01 10:55] oberon2007 opened #137 "Maximize / Minimize buttons on windows not working"
The buttons for **window-menu** and for **close** are working fine, but maximize and minimize have no effect.

[2015-12-01 10:59] oberon2007 commented on #137
Ah. That seems to have been an exceptional behaviour. Fixed after reboot. ;)

[2015-12-01 10:59] #137 closed

[2015-12-01 11:06] oberon2007 commented on #135
**journalctl** prints:
[code]

[2015-12-01 11:09] oberon2007 commented on #135
This looks a bit similar to the thumbnails issue (https://github.com/fasheng/arch-deepin/issues/126)
But then it's also different in that in my case I get **Cann't find generator for 'application/x-desktop'**

[2015-12-01 11:22] jouyouyun commented on #135
@oberon2007 , missing cursor theme: Deepin-Cursor, we has delete deepin-cursor-theme today, and deepin-icon-theme will provide cursor theme 'Deepin', please wait for updates.
Or you can modify the 'CursorTheme' in /usr/share/personalization/themes/Deepin/theme.ini to a existing theme.

[2015-12-01 12:04] oberon2007 commented on #135
Oh wow! That indeed solves it :D I am impressed that a slightly faulty theme.ini like that breakes personalization so completely, though ;)
Thanks a lot, Wen! Can I ask: Which packages need to be updated now? Just **deepin-icon-theme** ? Or will changes in **deepin-artwork-theme** and the gsettings be necessary, too?

[2015-12-02 07:15] zhuzilinuser opened #138 "无法设置网络"
用的是arch源的dde,但是无法设置网络，或者编辑。个性化设置无效。

Linux linuser 4.2.5-1-ARCH #1 SMP PREEMPT Tue Oct 27 08:13:28 CET 2015 x86_64 GNU/Linux

[2015-12-02 08:16] fasheng commented on #138
网络功能正在重写，尚无编辑功能，预计两周后的 beta 版会实现该功能。个性化的问题，应该是缺少 deepin-cursor-theme 包导致的～

2015年12月2日 下午3:15, 下午3:15，在 "小竹" <notifications@github.com> 已写:

[2015-12-02 08:20] fasheng commented on #135
looks like pkg deepin-cursor-theme is missed in your system~

2015年12月1日 下午8:04, 下午8:04，在 Bernhard Landauer <notifications@github.com> 已写:

[2015-12-02 09:00] oberon2007 commented on #135
Yes. It definitely needs to be a dependency of **deepin-artwork-themes** because its absence breaks theming completely.

[2015-12-02 09:02] oberon2007 commented on #135
But then, as @jouyouyun says this will be solved by an update of **deepin-icon-theme** anyway ;)

[2015-12-02 09:09] oberon2007 opened #139 "deepin-session-ui new dependency gtk2"
I just realized that  **gtk2** is needed for compiling the latest commit of **dde-session-ui**.
I assume this will now also be a new runtime dependency?

[2015-12-02 09:13] fasheng commented on #135
this is another topic, simply, deepin-cursor-theme will be removed and merged to deepin-icon-theme after Deepin beta1 released.

@felixonmars if this issue is caused by the missing deepin-cursor-theme pkg, please add it to group deepin :)

2015年12月2日 下午5:02, 下午5:02，在 Bernhard Landauer <notifications@github.com> 已写:

[2015-12-02 20:31] gujralam commented on #135
Hi,
I have installed arch and deepin desktop. However I do not see anything on the "Personalization" and "Default Applications" pages. These screens are completely blank.

Please find below output of various above commands

[gujralam@dhcppc2 ~]$ cat /usr/share/personalization/themes/Deepin/theme.ini
[Theme]
Id=Deepin
Name=Deepin
Name[en_GB]=Deepin
Name[en_US]=Deepin
Name[zh_CN]=Deepin
Name[zh_HK]=

[2015-12-03 00:21] oberon2007 opened #140 "Can't find generator for 'application/x-desktop'"
I keep getting this error and the desktop is broken, meaning no background, desktop icons or even window frames somtimes.
What can this mean?

[2015-12-03 01:02] zhuzilinuser commented on #138
了解～   个性化的问题已经解决，辛苦啦！

[2015-12-03 06:25] gujralam commented on #135
fasheng sir,

any update on this issue.

I just love Deepin Desktop and require your support to resolve it.

Please help me

[2015-12-03 06:31] felixonmars commented on #118
Looks like fixed in [community-testing]/deepin-daemon 2.93.1.20151202-1.

[2015-12-03 06:34] felixonmars commented on #139
Yes, I think it is.

[code]

[2015-12-03 06:34] #139 closed

[2015-12-03 06:35] felixonmars commented on #119
Looks like it's fixed with [community-testing]/deepin-dock 2.90.1.20151203-1

[2015-12-03 06:37] felixonmars commented on #126
Looks like fixed with [community-testing]/deepin-file-manager 0.1.1.20151201-1

[2015-12-03 08:06] felixonmars commented on #135
@fasheng deepin-icon-theme now includes the cursor theme, and bumped to [community-testing]

[2015-12-03 08:10] jouyouyun commented on #140
Means: cann't found thumbnail generator for 'application/x-desktop', just an error message

[2015-12-03 08:11] felixonmars commented on #140
Please test with latest [community-testing] packages. This fixes all the desktop glitches here.

[2015-12-03 08:15] jouyouyun commented on #135
@gujralam , please paste the following commands's output, thanks!
[code]

[2015-12-03 08:23] felixonmars commented on #133
Looks like fixed with [community-testing]/deepin-control-center 2.91.2.20151203-1

[2015-12-03 08:42] oberon2007 commented on #140
Thank you. I only realized this morning that you are publishing in -testing now ;)

[2015-12-03 08:54] fasheng commented on #135
@gujralam Sorry for the trouble of DDE, it's still alpha version now. For the personalization issue, just install `deepin-cursor-theme` manually and then it will works fine. Or as felix said, use [community-testing] instead. Currently, [community-testing] is more stable than [community]. XD

[2015-12-03 11:50] gujralam commented on #135
Hello sir,
Here is the output that you requested for. For all the commands we are getting a similar error.
Error org.freedesktop.DBus.Error.ServiceUnknown: The name com.deepin.daemon.Appearance was not provided by any .service files

****
As suggested, i will work on moving to community testing.

I must say I am a very BIG FAN of you for creating this awesome desktop environment. Many thanks and r

[2015-12-03 11:57] jouyouyun commented on #135
@fasheng , why?

[2015-12-03 13:14] gujralam commented on #135
No luck deepin-icon-theme is already the latest one installed on my system

[2015-12-03 13:27] felixonmars commented on #135
@jouyouyun The packages in [community-testing] is at latest git master, with many mentioned bugs fixed.

[2015-12-03 13:36] fasheng commented on #135
@gujralam looks your `deepin-artwork-theme` and `deepin-daemon` is out of date, do you installed Deepin packages from [community]?

[2015-12-03 15:02] gujralam commented on #135
yes sir. it was installed from the opensuse site

[2015-12-03 22:47] oberon2007 commented on #114
Is there a way to set Deepin 2D as the default session?
``user-session=deepin`` in **lightdm.conf** seems to launch the regular session.
And when using **startx**, will **startdde** also always open the regular session?

[2015-12-04 01:06] fasheng commented on #114
try '`startdde -wm /usr/bin/deepin-metacity ` in .xinitrc

2015年12月4日 上午6:47, 上午6:47，在 Bernhard Landauer <notifications@github.com> 已写:

[2015-12-04 01:22] oberon2007 commented on #114
Thank you. Will try that.
What about user-session in **lightdm.conf** ?

[2015-12-04 01:53] felixonmars commented on #114
We have user-session `deepin-2D`, and also we have `/usr/bin/startdde-2D`.

[2015-12-04 01:54] oberon2007 commented on #114
great! thanks :)

[2015-12-04 01:54] #114 closed

[2015-12-04 02:15] oberon2007 commented on #132
Fixed with latest pkg-update. Thank you!

[2015-12-04 02:15] #132 closed

[2015-12-04 02:27] fasheng commented on #135
@gujralam
So that's the point, please remove OBS repository from
`/etc/pacman.conf` and update packages like this:

[code]

[2015-12-04 02:30] #111 closed

[2015-12-04 02:30] #110 closed

[2015-12-04 02:31] fasheng commented on #103
Please remove OBS repository from
`/etc/pacman.conf` and update packages like this:

[code]

If start Deepin failed again, just reopen this issue.

[2015-12-04 02:31] #103 closed

[2015-12-04 02:36] fasheng commented on #78
Please remove OBS repository from `/etc/pacman.conf` and update packages from [community] like this:

[code]
It should solved this issue.

[2015-12-04 02:36] #78 closed

[2015-12-04 02:36] fasheng commented on #69
Please remove OBS repository from `/etc/pacman.conf` and update packages from [community] like this:

[code]
It should solved this issue.

[2015-12-04 02:36] #69 closed

[2015-12-04 02:36] fasheng commented on #57
Please remove OBS repository from `/etc/pacman.conf` and update packages from [community] like this:

[code]
It should solved this issue.

[2015-12-04 02:36] #57 closed

[2015-12-04 03:04] fasheng commented on #99
@felixonmars
How about replaces, conflicts or provides `dde-dock-applets` in `deepin-control-center`, so updating packages from OBS to [community] will be more easily ;)

[2015-12-04 03:11] fasheng commented on #94
@hoahau Sorry, I really have no idea for your problem, and looks it is not caused by Deepin packages.

BTW, if you want to experimence the latest Deepin, please remove OBS repository from `/etc/pacman.conf` and update packages from [community] like this:

[code]

[2015-12-04 03:11] #94 closed

[2015-12-04 03:17] fasheng commented on #80
Please remove OBS repository from `/etc/pacman.conf` and update packages from [community] like this:

[code]

[2015-12-04 03:17] #80 closed

[2015-12-04 03:19] fasheng commented on #59
Please remove OBS repository from `/etc/pacman.conf` and update packages from [community] like this:

[code]

[2015-12-04 03:19] #59 closed

[2015-12-04 03:20] felixonmars commented on #99
Sure, updating :)

Also if no objection, I am going to move the current [community-testing] package set to [community], since it's proven to be more stable :)

[2015-12-04 03:39] fasheng commented on #99
Great, thanks for the external work for [community-testing].

And @oberon2007, you could try to update packages from your `manjaro-deepin-15.10dev-x86_64.iso`, if works, I will close this issue and complete milestone `2015.a2`.

[2015-12-04 03:50] oberon2007 commented on #99
Thank you all! We have the [community-testing] pkgs already in the manjaro-repos and I am busy making them work on a new ISO build. The plan is to publish a manjaro-deepin-15.12 in a few weeks. The dev-builds were more experimental and will not need to be updated.
Some people have installed the (15.12-preview)[https://sourceforge.net/projects/manjaro-deepin/] which still uses 2014.3 pkgs but I am

[2015-12-04 04:25] fasheng commented on #99
Thanks all, we finish the great task. :+1:

[2015-12-04 04:25] #99 closed

[2015-12-04 15:33] felixonmars commented on #125
Still present in 2.93.1.20151202-1.

[2015-12-04 15:34] felixonmars commented on #138
Patch merged upstream, should be in tomorrow's package set.

[2015-12-04 19:38] brendengibson opened #141 "Is deepin-control-center-2.91.2.20151203-2 broken for anyone else?"
Fresh install of deepin group from [community] repo has broken control center for me.

It will appear from the right side of the screen approximately 10 seconds after I click the dock icon for the control center, but will not allow me to move from the home screen or change any settings. From there I can sometimes get it to hide, but with the 10 second delay and occasionally artifacts are left on s

[2015-12-04 19:58] oberon2007 commented on #141
Is that in a virtual box? If so, see if turning off video-acceleration in the vb-settings helps!

[2015-12-04 20:11] brendengibson commented on #141
This is not a virtual machine, but thanks for the suggestion!

[2015-12-05 04:18] felixonmars commented on #141
I cannot reproduce here. Any thoughts @fasheng ?

[2015-12-05 07:58] fasheng commented on #141
It's fine for me, too.

Could you reproiduce it with `gdm` and `xinit`? And how about the different of output of `killall dde-control-center; dde-control-center --show` with `lightdm`?

[2015-12-05 09:42] felixonmars opened #142 "dde-lowpower overlay doesn't exit"
When my battery is really low (4%) I see 8 dde-lowpower processes, and the display is covered by a black screen with a low power icon in the center. I cannot do anything, and the overlay doesn't exit even after I plug in my AC power. I had to switch to another VT and ran `killall dde-lowpower` to get my desktop back to normal.

[2015-12-05 18:10] oberon2007 commented on #133
Yes, it's fine now, thanks!

[2015-12-05 18:10] #133 closed

[2015-12-05 18:12] oberon2007 commented on #140
Yes. error is gone now.

[2015-12-05 18:12] #140 closed

[2015-12-05 18:15] oberon2007 commented on #128
Is this really an error message? I get it, too, but only when the dock and ff are indeed overlapping because I invoke the dock while ff is in fullscreen :)

[2015-12-05 18:16] oberon2007 commented on #126
working fine for me now.

[2015-12-05 18:19] oberon2007 commented on #88
This is still present with the latest pkgs. Greyed out items also count as entries.

[2015-12-05 18:20] oberon2007 commented on #34
I think this is solved, is it? For me everything works fine now.

[2015-12-05 18:23] jannickfahlbusch commented on #128
I don't know if this is related, but the icon of ff gets cutted of, because it is to low.

The screenshot shows it:
![bug](https://cloud.githubusercontent.com/assets/8135397/11609365/99b26e74-9b85-11e5-9fee-76381fa633a1.png)

[2015-12-05 18:30] oberon2007 opened #143 "smart-hide behaviour"
When dock is set to smart-hide mode and I open a window in fullscreen it autohides as expected. But when I close the window again, the dock does not unhide automatically until I touch the bottom screen.
When Firefox goes to fullscreen dock doesn't hide until you click the browser.

[2015-12-05 23:48] oberon2007 opened #144 "deepin-session-ui seems to crash on new ISOs"
On my older install I have successfully updated to the new packages and everything works quite nicely.
But now on a freshly built ISO with simply groups **deepin** and **deepin-extra** installed there are some serious issues, obviously with **deepin-session-ui**:
**lightdm-deepin-greeter** doesn't launch on boot and I have to use startx. Then the desktop looks normal until I open any window. At th

[2015-12-05 23:55] oberon2007 commented on #144
Some error messages from the dock:
[code]

[2015-12-06 02:10] fasheng commented on #144
does other lightdm greeter works? are deepin daemon (dde-session-daemon) and window manager(deepin-wm or deepin-metacity) running?

2015年12月6日 上午7:55, 上午7:55，在 Bernhard Landauer <notifications@github.com> 已写:

[2015-12-06 10:19] oberon2007 commented on #144
[code]

[2015-12-06 10:30] oberon2007 commented on #144
**deepin-metacity** can be launched and seems to work normally.

[2015-12-06 10:56] oberon2007 commented on #144
Partly solved by editing **.xinitrc** like here: https://bbs.archlinux.org/viewtopic.php?id=203899
The greeter-issue still persists...

[2015-12-06 11:08] fasheng commented on #144
how about launch dde through lightdm-gtk-greeter/gdm/xinit?

2015年12月6日 下午6:59, 下午6:59，在 Bernhard Landauer <notifications@github.com> 已写:

[2015-12-06 11:23] oberon2007 commented on #144
I just found that lightdm service was not running. Still need to find out why, but obviously the problem seems not to be related to Deepin ;)

[2015-12-06 11:23] #144 closed

[2015-12-06 12:40] oberon2007 commented on #90
Latest version of control center doesn't appear to have an option "add new user" at all?

[2015-12-06 15:25] oberon2007 opened #145 "expose windows (compiz) still available?"
Is this cool feature of Deepin 2014 still available in the new desktop?
![Image](https://a.fsdn.com/con/app/proj/manjaro-deepin/screenshots/1512_bl%C3%A4ttern.png)
I can't seem to find it. ... used to be **Super+Tab**

[2015-12-06 15:26] felixonmars commented on #145
Compiz was not used in Deepin 2015, so it won't be available as far as I know.

[2015-12-06 15:29] oberon2007 commented on #145
I see. Maybe it can still be installed? The gsettings for compiz are still present in dde-desktop-schemas... Maybe just a leftover, though ;)

[2015-12-06 15:42] felixonmars commented on #145
Yeah maybe, there's still deepin-compiz :)

[2015-12-06 15:59] oberon2007 commented on #145
I will try ;)
Just the question of dependencies: I'll try replacing **metacity-ubuntu** with **deepin-metacity**.
Is there anything to replace **gnome-settings-daemon**? Maybe covered by the new deepin pkgs anyway?

[2015-12-06 16:02] felixonmars commented on #145
There is nothing depending on `gnome-settings-daemon` atm. @fasheng may want to share some light here :)

[2015-12-06 16:42] oberon2007 commented on #145
hm. yes please, @fasheng ! :)
Building **deepin-compiz** fails with
[code]

[2015-12-06 19:11] oberon2007 opened #146 "dock fails to launch applications"
[code]
dde-launcher is running...

[2015-12-06 20:17] oberon2007 opened #147 "launcher background overlaps with input field"
![launcher](https://cloud.githubusercontent.com/assets/11800714/11615357/be3fd9c8-9c5e-11e5-9d8d-585ac907ffc5.png)

[2015-12-07 02:13] fasheng commented on #142
@jouyouyun Help ;)

[2015-12-07 02:32] jouyouyun commented on #142
dde-daemon version? commit id?

[2015-12-07 02:38] felixonmars commented on #142
dde-daemon at 107ce2cdb5ada3e5599d2bbe7b9c7f109801b68d
dde-session-ui at aa35bb8d4ddde97d1c39f752ae3c1a154ed2c30e

[2015-12-07 02:42] felixonmars opened #148 "GitHub stopped syncing from cr.deepin.io"
All repos (except irc logs) are updated 3 days ago. There are more merged commits that are not present here.

https://github.com/linuxdeepin/

[2015-12-07 02:46] felixonmars commented on #146
The messages are related to #125, and nautilus/terminal runs fine from dock here...

[2015-12-07 02:47] jouyouyun commented on #142
ok, I will follow the bug, hoping to reproduce the problem.

[2015-12-07 04:01] fasheng commented on #145
deepin-compiz is out of date and can't build success based on the latest metacity(3.0+), so metacity-ubuntu 2.34.13 is still required for it. Or you could try the original compiz instead, it should works fine for Deepin 2015 packages.

[2015-12-07 04:02] fasheng commented on #147
Upstream fixing now.

[2015-12-07 04:03] #126 closed

[2015-12-07 04:25] fasheng commented on #148
Fixing...

[2015-12-07 05:47] felixonmars opened #149 "deepin-notifications crashes with X error"
[code]

[2015-12-07 06:14] fasheng commented on #146
@oberon2007
It's OK for me, too. Could you get some special output from `killall dde-dock; dde-dock` when trying to open nautilus and terminal?

[2015-12-07 06:28] fasheng commented on #149
How to reproduce it, I use `deepin-notifications 2.3.3-1` and looks fine like this:

[code]

[2015-12-07 06:40] felixonmars commented on #149
It crashes occasionally. I didn't find a stable way to reproduce it yet.

[2015-12-07 06:43] fasheng commented on #149
@hualet Help ;)

[2015-12-07 06:56] #118 closed

[2015-12-07 08:27] oberon2007 commented on #146
Sometimes it works normally for me, too, but sometimes not...
**dde-dock** auto-restarts immediately when killed, so cannot run it from the terminal. Have a different idea? ;)

[2015-12-07 09:34] oberon2007 opened #150 "deepin-metacity"
Does **deepin-metacity** provide **metacity**?

[2015-12-07 09:39] felixonmars commented on #150
No. They can co-exist, though.

[2015-12-07 09:40] oberon2007 commented on #150
Thanks.

[2015-12-07 09:40] #150 closed

[2015-12-07 09:46] fasheng commented on #146
I see, if click applicaions(not restricted to nautilus/terminal) in dock and nothing happens, the `dde-preload` must be crashed...

We could debug such issue like `dde-session-daemon`, run it in terminal and catch the panic messages
[code]
[code]

[2015-12-07 11:48] jouyouyun commented on #142
Please update dde-session-ui, the problem has been solved.

[2015-12-07 11:49] oberon2007 commented on #146
I suspect restarting dde-preload solves the issue in itself... ;) Anyway have not been able to reproduce it like that - in any case your assumption that dde-preload causes it seems right :)

[2015-12-07 11:58] oberon2007 commented on #146
Ok. I think I caught one now:
[code]

[2015-12-07 12:19] zhuzilinuser opened #151 "dde-session-daemon cpu占用一直 25"
![img_20151207_201806](https://cloud.githubusercontent.com/assets/12298476/11626717/edebbd10-9d1f-11e5-817c-b937eff9480e.jpg)
![img_20151207_201810](https://cloud.githubusercontent.com/assets/12298476/11626718/ee1e5fc2-9d1f-11e5-9646-b0a3f1c67174.jpg)

然后控制中心启动特别卡，无法操作

[2015-12-07 12:26] fasheng commented on #146
Thanks, a patch is on the way...
https://cr.deepin.io/9405

[2015-12-07 12:32] zhuzilinuser commented on #151
还有一个就是控制面板的头像无法显示，但是用户里面可以显示。。

[2015-12-07 12:46] fasheng commented on #151
deepin-daemon 和 deepin-control-center 的版本多少？

journalctl -f 有没有打印大量错误？在终端运行 'killall dde-session-daemon;/usr/lib/deepin-daemon/dde-session-daemon' 会不会异常退出？

另外首页用户头像的问题上游正在修复。

2015年12月7日 下午8:19, 下午8:19，在 kirigaya <notifications@github.com> 已写:

[2015-12-07 13:28] fasheng commented on #151
如果安装了 deepin-screenshot，可以用快捷键 <kbd>Ctrl</kbd>+<kbd>Alt</kbd>+<kbd>a</kbd> 进行截图 ;)

[2015-12-07 16:09] zhuzilinuser commented on #151
名称　　　： deepin-daemon
版本　　　： 2.93.1.20151202-1

名称　　　： deepin-control-center
版本　　　： 2.91.2.20151203-2

终端运行 'killall dde-session-daemon;/usr/lib/deepin-daemon/dde-session-daemon' 不会异常退出

[2015-12-07 16:10] zhuzilinuser commented on #151
http://i5.tietuku.com/d74081a3d54fb82a.png

[2015-12-07 16:12] brendengibson commented on #141
Sorry for the delay - looks like it's specific to LightDM, It works flawlessly with SDDM.

Has the network icon in the dock been removed in the Deepin 2015 packages?

[2015-12-07 16:18] felixonmars commented on #141
No, the network icon on the dock works fine here.

[2015-12-07 16:26] oberon2007 commented on #141
Me neither! I don't get a network icon.

[2015-12-07 16:29] felixonmars commented on #141
Hrm weird. Do you have networkmanager installed and running?

[2015-12-07 16:44] oberon2007 commented on #141
service is running, yes. connection is fine, too. Also everything displayed fine in control center.

[2015-12-07 16:49] oberon2007 commented on #141
On the official Deepin ISO I don't see an icon either!
![network_icon](https://cloud.githubusercontent.com/assets/11800714/11633308/e6011024-9d0a-11e5-8fa9-d59b55830378.png)

[2015-12-08 00:55] felixonmars commented on #148
Would it be possible to fix in another day or two? Or I could switch to use the cr.deepin.io sources.

[2015-12-08 01:21] fasheng commented on #141
network icon only available for efficient mode and claasic mode in dock..

2015年12月8日 上午12:49, 上午12:49，在 Bernhard Landauer <notifications@github.com> 已写:

[2015-12-08 01:25] fasheng commented on #148
cr.deepin.io is unstable and low bandwidth, please
just wait one more day to fix this.

2015年12月8日 上午8:56, 上午8:56，在 Felix Yan <notifications@github.com> 已写:

[2015-12-08 01:42] felixonmars commented on #148
OK, thanks :)

[2015-12-08 04:18] fasheng commented on #148
Fixed now.

[2015-12-08 04:18] #148 closed

[2015-12-08 04:21] felixonmars commented on #148
Great, thanks a lot :P

[2015-12-08 05:44] felixonmars opened #152 "New dde-daemon doesn't compile"
Reproduced with both gcc-go 5.2.0 and 5.3.0.

At cf673aa396fab4ea0fbe581e05ecb46e1696e13f.

[code]

[2015-12-08 05:46] felixonmars opened #153 "Latest dde-api installs to /lib"
The systemd service was installed to `${DESTDIR}${libdir}` instead of `${DESTDIR}${PREFIX}${libdir}`. It would be great if this could be customized.

https://github.com/linuxdeepin/dde-api/commit/d580efb12658de9f734349cd70468130149ec35d#diff-b67911656ef5d18c4ae36cb6741b7965R72

[2015-12-08 07:03] fasheng commented on #152
Update deepin-dbus-generator firstly.

[2015-12-08 07:04] felixonmars commented on #152
:O sorry, I looked up the wrong branch of go-dbus-generator...

[2015-12-08 07:04] #152 closed

[2015-12-08 07:06] felixonmars opened #154 "dde-launcher eats 100% CPU and gigabytes of memory"
I have to kill dde-launcher from time to time, as it's taking too much memory and CPU time. As you can see in the following screenshot, it eats 8GiB of ram :/

![2015-12-08-150505-8f56cb](https://cloud.githubusercontent.com/assets/1006477/11649743/2b4593e6-9dbd-11e5-8f02-74be15ed89cc.png)

[2015-12-08 07:23] felixonmars opened #155 "deepin-wm-switcher not synced to github"

[2015-12-08 08:45] fasheng commented on #155
Thanks for pointing out it, solved now.

[2015-12-08 08:45] #155 closed

[2015-12-08 08:49] fasheng commented on #154
@dragondjf Help ;)

[2015-12-08 10:39] felixonmars opened #156 "Bluetooth applet doesn't fit in position when height changed"
This often happens when there are more bluetooth devices appears (especially when hovered on the first time after startup), and the applet window will be updated in realtime and expanded over the lower boundary of the screen (or the upper boundary of the dock).

[2015-12-08 14:13] fasheng commented on #156
Thanks, will report to the developer tomorrow.

[2015-12-08 15:33] zhuzilinuser commented on #151
今天我进行了plasma和一些字体的安装(https://linux.cn/article-3019-1.html),然后发现控制面板不卡了。感觉是不是字体的问题。

[2015-12-08 15:43] fasheng commented on #151
这。。。你把今天 pacman 的 log 贴下吧

[2015-12-08 16:37] zhuzilinuser commented on #151
[pacman.log.zip](https://github.com/fasheng/arch-deepin/files/55707/pacman.log.zip)

机房网络不稳定，有重复安装字体的步骤。

[2015-12-09 02:44] felixonmars opened #157 "deepin-notifications warnings"
Running latest: https://github.com/linuxdeepin/deepin-notifications/commit/692640abb9bd1c3a74f686abbe2e9163a9e2020d

[code]

This happens 10s after the bubble expired.

[2015-12-09 02:53] felixonmars commented on #55
This doesn't seem to be true now, I've removed the patch for deepin-daemon.

[2015-12-09 02:58] fasheng commented on #55
Really? I think the patch will works untile go 1.6 released.

[2015-12-09 03:02] felixonmars commented on #55
Hrm, maybe I got it wrong - I meant this patch: https://github.com/fasheng/arch-deepin/blob/c9c53b2bb15b78ae3f4890028d02aceb7cbb6ee5/obs/home:metakcahura:arch-deepin:2015/dde-daemon/fix-i686-compile.patch

[2015-12-09 03:06] fasheng commented on #55
Yes, it is fix-i686-compile.patch. Could you build deepin-daemon success without it under Archlinux i686?

[2015-12-09 03:14] felixonmars commented on #55
Yes, that's why I removed it :)

[2015-12-09 03:23] felixonmars opened #158 "Sound plugin doesn't work if there is disabled sound card"
The sound tab in control-center is empty, and changing volume doesn't have any effect in the sound applet on dock.

My PA settings:
![2015-12-09-112129-43dbaa](https://cloud.githubusercontent.com/assets/1006477/11675727/0af7e490-9e67-11e5-9fcb-0a90895d90f1.png)

dde-control-center:
![2015-12-09-112203-c51472](https://cloud.githubusercontent.com/assets/1006477/11675729/1b97e5fc-9e67-11e5-86d7-69748

[2015-12-09 03:39] fasheng commented on #55
OK, glade to hear it, close issue now~

[2015-12-09 03:39] #55 closed

[2015-12-09 06:31] felixonmars commented on #115
Still present in deepin-daemon 2.93.1.20151208-2

[2015-12-09 06:34] felixonmars opened #159 "deepin-menu prints lots of debugging information"
It would be great to disable these messages by default.

[code]

[2015-12-09 06:36] felixonmars opened #160 "daemon/network prints errors about speedStr"
Disabling these messages would be better, if they do no harm...

[code]

[2015-12-09 06:37] felixonmars commented on #128
Also this message:

[code]

[2015-12-09 06:38] felixonmars opened #161 "dock failed to create desktop app info for steam (wine'd)"
I get this message every a few seconds:

[code]

[2015-12-09 06:43] felixonmars opened #162 "Possible memory leak in dde-session-daemon"
It eats only 98M of memory on startup, but now it's 759M.

![2015-12-09-144112-ddc134](https://cloud.githubusercontent.com/assets/1006477/11678438/f8ba8dca-9e82-11e5-94a5-4e2c88725453.png)

[2015-12-09 06:44] felixonmars commented on #160
During startup of dde-session-daemon, this message got printed for many times (>50).

[2015-12-09 06:45] fasheng commented on #160
Solved now. Try the latest commit for deepin-daemon. ;)

[2015-12-09 06:47] felixonmars commented on #160
That's great. Thanks for info!

[2015-12-09 10:50] oberon2007 opened #163 "replaces / depends suggestions"
For users updating from 2014 pkgs it appears to be useful to add:
**deepin-dock** replaces dde-dock-applets
and maybe also
**deepin-desktop** depends deepin-launcher (currently not a dependency of any pkg)

[2015-12-09 13:05] felixonmars commented on #163
`dde-dock-applets` is already in replaces array of `deepin-control-center`. And I don't think `deepin-launcher` is a hard dependency of anything - but since there's an icon on the dock, maybe it's better to add it there?

[2015-12-09 13:20] fasheng commented on #163
About `deepin-desktop`, `deepin-launcher` and other DDE packages, a simple dependency graphic looks like this(<- means depends):

[code]

Through some package may depends each other, I think keep them simply just is OK.

[2015-12-09 13:21] fasheng commented on #67
New tags for Deepin 2015 Beta1

| Project                |  New tag |
|------------------------|---------- |
| deepin-wm-switcher     |    0.0.1 |
| deepin-file-manager    |    0.1.2 |
| dde-account-faces      |    1.0.9 |
| deepin-artwork-themes  |  15.10.2 |
| dde-api                |   2.92.2 |
| deepin-desktop-schemas |   2.91.2 |
| deepin-mutter          | 3.18.1.4 |
| deepin-wm

[2015-12-09 13:23] felixonmars commented on #163
Hrm, it looks more like `->` to me :/

[2015-12-09 13:25] felixonmars commented on #67
Looks like deepin-desktop-base was not updated for Beta1 yet.

[2015-12-09 13:34] fasheng commented on #67
Yep, let's wait for a while..

[2015-12-09 13:48] oberon2007 commented on #163
Since the launcher icon is defined in **deepin-desktop-schemas** that's maybe where the dependency should go then?

[2015-12-09 14:02] felixonmars commented on #163
Arch has a policy against defining circular dependency, so I will have to look for some other ways...

[2015-12-09 14:09] felixonmars commented on #67
:/ Looks like deepin-desktop-base's Makefile wants to install deepin-version into /usr/lib/deepin, while other components still read the old path.

[2015-12-09 14:33] fasheng commented on #67
I'm not sure, but the previous commit is OK
https://github.com/linuxdeepin/deepin-desktop-base/commit/6834ddd89d5bf8c9b792b6e7b90a7f4f4360dc70

[2015-12-09 14:37] felixonmars commented on #67
Oh, I see... Thanks :P

Now the whole package set is available on [community-testing] except deepin-feedback, which I'll need some time to investigate. (We didn't enable similar functionality of e.g. Firefox).

[2015-12-09 15:04] fasheng commented on #67
Cool :)

[2015-12-10 01:57] felixonmars commented on #138
Should be fixed with community-testing/deepin-control-center 2.91.3-1.

[2015-12-10 01:58] felixonmars commented on #142
Sorry, I didn't get the chance to actually test it. I'm closing the issue now, and will re-open if it's still the same issue.

[2015-12-10 01:58] #142 closed

[2015-12-10 02:01] felixonmars opened #164 "dock crashes when trying to launch application"
I'm opening a new issue as it appears to be different from #142.

dock version: 2.90.2-1

[code]

[2015-12-10 02:09] felixonmars opened #165 "Graphics freeze when using deepin-wm with osu! (wine'd)"
I'm assuming this a problem of deepin-wm, since the same problem doesn't exist with deepin-metacity or mutter alone.

Launching osu! while deepin-wm being the window manager will result in a freezed graphical interface, the mouse cursor can move, but no GUI element will react or update. Killing osu! from another VT is the only way to get it back to normal.

Pkg versions:
community-testing/deepin-w

[2015-12-10 02:15] felixonmars opened #166 "deepin-metacity crashes with X error"
deepin-metacity freezes graphics/crashes very frequently, this could be related to nvidia blob driver, though. Sample crash:

[code]

[2015-12-10 02:24] felixonmars opened #167 "Alt-Tab lost focus in deepin-wm when the current candidate stole mouse on focus"
This happens quite frequently with fullscreen games - like Skyrim (wine'd), etc. The target window will "steal" mouse on focus, and make deepin-wm's Alt-Tab switcher to disappear, even when I didn't release the Alt key. This doesn't happen with e.g. KWin. (Sorry I could not manage to test with deepin-metacity since it crashes too frequently)

[2015-12-10 02:28] felixonmars commented on #166
This should be an upstream metacity issue, though.

[code]

[2015-12-10 02:54] felixonmars commented on #125
Should have been fixed.

[2015-12-10 02:54] #125 closed

[2015-12-10 02:54] felixonmars commented on #115
Fix landed with deepin-daemon-2.93.2.20151210-1.

[2015-12-10 02:54] #115 closed

[2015-12-10 02:56] felixonmars opened #168 "No tray icon shown for Dropbox"
The dropbox client always has an empty tray icon, and clicking works as expected.

community-testing/deepin-dock 2.90.2-1

[2015-12-10 03:25] fasheng commented on #156
Solved now.
https://github.com/linuxdeepin/dde-control-center/commit/0c5221f81c2a25bd20536b9657e47877265088b9

[2015-12-10 03:26] felixonmars commented on #156
Thanks a lot :)

[2015-12-10 03:27] #156 closed

[2015-12-10 03:36] fasheng commented on #168
What's the package name of the dropbox client?

BTW: Thanks for your topics today. And I found it's always a show time for bugs when Deepin want to release a new version...

[2015-12-10 03:39] fasheng commented on #138
Well, the connection editing page is still in process.. I'm working hard for it those days.

[2015-12-10 03:46] fasheng commented on #166
@sonald will help us ;)

[2015-12-10 03:50] felixonmars commented on #168
It's aur/dropbox 3.10.11-1.

I didn't test it too much for not tagged version, and suppress some bugs that are still under development until the next tagged version (and open them all at once if they are still not fixed at that time). This is why I always want to open many bug reports on new tagged version :P

[2015-12-10 03:55] fasheng commented on #168
Thanks, it's just fine ;)

In upstream, the issues even out of control. XD

[2015-12-10 04:02] fasheng commented on #67
dde-daemon -> 2.93.3

[2015-12-10 05:56] sonald commented on #166
@felixonmars what nvidia drive do you use ? did you use wineqq at the time ?

[2015-12-10 07:02] felixonmars commented on #166
It's nvidia 358.16. I didn't have wineqq installed.

[2015-12-10 13:48] hexchain commented on #165
I have the same problem.
Syslog relevant lines: http://ix.io/mIM
Switched to tty2 and killed wineserver and osu.exe at around Dec 10 21:06:50.

[2015-12-11 01:10] oberon2007 commented on #141
Fixed for me with **deepin-dock 2.90.2-1**

[2015-12-11 02:19] felixonmars opened #169 "Latest dde-api doesn't build with Go 1.4.x"
The `signal.Ignore` method was added since Go 1.5.

[2015-12-11 03:12] felixonmars opened #170 "Latest deepin-desktop-base messed up systeminfo plugin"
Type was included in Version string since this commit https://github.com/linuxdeepin/deepin-desktop-base/commit/862f3cfcb0f95a2d69567c7cb9ed55b877aa488d

This makes systeminfo plugin display "Desktop" twice:
![2015-12-11-111201-d9dade](https://cloud.githubusercontent.com/assets/1006477/11735062/1258271c-9ff8-11e5-948b-de81b7a15cf0.png)

[2015-12-11 03:16] felixonmars opened #171 "Control center crashes when switching away from account tab"
This happens almost randomly with the following backtrace:

[code]

[2015-12-11 03:19] felixonmars opened #172 "Don't reload when clicking on the active tab"
Currently clicking on the active tab will reload it, and this exposes the former "clicking too fast on Keyboard tab will crash dde-control-center" problem. Should use the same approach as the main page.

[2015-12-11 03:33] fasheng commented on #170
I'm not sure why they change it now, but we could use the previous commit for the latest background is required...

[2015-12-11 03:34] felixonmars commented on #170
background is fine, this is just for the /etc/deepin-version file included in `deepin-daemon` package :)

[2015-12-11 03:43] fasheng commented on #67
Well, another tags...

dde-daemon 2.93.4
dde-api 2.92.3
deepin-wm-switcher 0.0.2
dde-control-center 2.91.4
dde-dock 2.90.3
dde-launcher 2.90.3
libdui 1.2.3

[2015-12-11 04:25] fasheng commented on #170
Well, looks Deepin Beta did not use deepin-desktop-base in github at all.

So we must do some hack for it :/

[2015-12-11 04:48] zhuzilinuser opened #173 "can't set wallpaper"
![20151211125026](https://cloud.githubusercontent.com/assets/12298476/11736150/c55db05e-a005-11e5-8c8b-52701c66a1c8.png)
![20151211125101](https://cloud.githubusercontent.com/assets/12298476/11736156/d934d684-a005-11e5-9e56-3307eecec0a5.png)

selete a photo to set wallpaper,but it just copy this file. dde-control-center not this wallpaper.

[2015-12-11 04:48] hualet commented on #169
Pathetic...the DDE front end should be compiled with Qt 5.3+, but the Qt version we use is Qt 5.5. Now is the DDE back end :(

[2015-12-11 06:09] felixonmars commented on #169
Sorry for the trouble :P

[2015-12-11 06:30] fasheng commented on #90
Should solved now.
https://github.com/linuxdeepin/dde-daemon/commit/5b03428c7bea68fe09cd14eaddc331dbce1b009b

[2015-12-11 10:58] oberon2007 opened #174 "pamac-tray icon not showing with latest pkgs"
Something seems to have been changed about tray icons... **pamac-tray**, [the manjaro package manager](https://github.com/manjaro/pamac) used to show fine in Deepin tray but since lates pkg-updates the icon is gone.
Do you have any advice for me where to look for the reason?
@philmmanjaro any idea, maybe?

[2015-12-11 11:57] philmmanjaro commented on #174
Is the daemon or the tray process running?

[2015-12-11 12:41] oberon2007 commented on #174
pamac-tray process is running. No daemon. How would I launch that one?
There's more stuff that looks not normal when running pamac-manager (in the live-environment):
When I try to install/uninstall a package from the pkg-manager it gives "Authentication failed".
Clicking on 'Preferences' in the Settings Menu has no effect.
And with pamac-try again:
[code]

[2015-12-11 14:57] philmmanjaro commented on #174
Then some is wrong on your end in regard of authentication. Check if any polkit daemon is running:
[code]

[2015-12-11 15:13] zhuzilinuser commented on #151
执行了killall dde-session-daemon;/usr/lib/deepin-daemon/dde-session-daemon以后，点击蓝牙和声音都会卡死dde，终端也有错误的产生。安装plasma后不卡，一定是把这两个给补全了，尝试以后，恢复正常。
![deepinscreenshot20151211230942](https://cloud.githubusercontent.com/assets/12298476/11747141/81660e12-a05c-11e5-9114-7aba5e73b1fe.png)
![deepinscreenshot20151211230952](https://cloud.githubusercontent.com/assets/12298476/11747142/8197b6ce-a05c-11e5-9d28-ee4c8365ad

[2015-12-11 15:24] zhuzilinuser commented on #173
![deepinscreenshot20151211232302](https://cloud.githubusercontent.com/assets/12298476/11747434/2d07069e-a05e-11e5-9a21-4468e5fdfcd5.png)

[2015-12-11 15:28] fasheng commented on #151
好的多谢，回头我到新装个 arch 看能否重现 :)

[2015-12-11 15:56] zhuzilinuser opened #175 "Manual IP question"
![deepinscreenshot20151211235248](https://cloud.githubusercontent.com/assets/12298476/11748249/5837d01a-a062-11e5-8f2d-5975d6fe49c6.png)

I set IP 010.010.x.x ,but It not. will change to 100.100.x.x

[2015-12-11 16:17] oberon2007 commented on #174
OK. So the authentication-agent was not running because the .desktop file of the authentication-agent in autostart only works after you delete ``OnlyShowIn=GNOME;`` ;)
That solves the issues of pamac-pamager.
Unfotunately no difference for the tray...
How about the daemon? I tried launching it manually with ``sudo pamac-daemon`` but doesn't change anything either.

[2015-12-11 16:20] oberon2007 commented on #134
working now :)

[2015-12-11 16:34] oberon2007 commented on #87
This problem is still present.
To make the trash work on a fresh install I still have to run this manually:
[code]
8^}

[2015-12-11 16:38] sbwtw commented on #175
maybe your ip is set to  10.10.0.0 ?  its not a valid address

[2015-12-11 21:07] philmmanjaro commented on #174
So what is the actual problem? **pamac-tray** doesn't show in the dock or it doesn't work?

[2015-12-11 21:10] oberon2007 commented on #174
I get no tray icon and can only launch pamac-manger with the launcher or from terminal. I don't know if the daemon is running. How can I check that or start it?

[2015-12-11 23:32] philmmanjaro commented on #174
Please check the **systemd** and **dbus1** service files:
[code]

[2015-12-12 01:36] fasheng commented on #175
Sorry for the trouble, I think it is caused by the IP widget, will fix it later.

2015年12月11日 下午11:56, 下午11:56，在 kirigaya <notifications@github.com> 已写:

[2015-12-12 05:59] felixonmars commented on #175
@sbwtw Actually it _could_ be a valid address. For example, everything between 10.8.0.1 and 10.11.255.254 is a valid address for 10.8.0.0/14.

[2015-12-12 08:24] oberon2007 opened #176 "polkit-gnome not started"
I realize that polkit-gnome is not being started any more unless I manually place the .desktop file in autostart. https://github.com/fasheng/arch-deepin/issues/174#issuecomment-163978625
It was not like that until the recent packages.
Is this the way it is intended or is something not working as it should at the moment?

[2015-12-12 09:38] pavlanton opened #177 "Can't switch keyboard layout"
Cant change language english-russian-hebrew. At the keyboard layout it's chenged but on write not. Thanx.

[2015-12-12 11:54] felixonmars commented on #170
Fixed with https://github.com/linuxdeepin/deepin-desktop-base/commit/af086a257aafc81a854dfe7accd9e5600b849960

[2015-12-12 11:54] #170 closed

[2015-12-12 12:27] oberon2007 commented on #174
Icon issue seems solved with latest dock-update. I have opened another issue for the polkit not started.

[2015-12-12 13:01] felixonmars commented on #176
Fixed with deepin-daemon 2.93.4.20151211-2.

[2015-12-12 13:02] felixonmars commented on #176
Hrm, on a second thought, I am re-opening to see if @fasheng has different ideas. Currently I put a Deepin-only desktop file into /etc/xdg/autostart. Would still be great if this could be made a dbus-activation service, though.

[2015-12-12 14:57] fasheng commented on #176
@felixonmars
I agree, it's a good style to launch policykit-gnome through the .desktop file for it do not provide any DBus service.

[2015-12-12 15:09] oberon2007 commented on #176
Thank you @felixonmars Working as expected now.

[2015-12-12 15:09] #176 closed

[2015-12-12 15:42] oberon2007 commented on #174
Unfortunately the icon disappears again after relogging...

[2015-12-12 15:43] oberon2007 commented on #174
restarting dde-dock brings the icon back.

[2015-12-12 16:40] felixonmars opened #178 "Highlighted item on dock's task bar has a significant delay when switching windows"
The current active window (group) is shown as highlighted on the dock's task bar. However, when switching windows, it often takes more than 1 second for the new (now active) item to be shown as highlighted and the old one reverted to normal.

[2015-12-12 20:47] philmmanjaro commented on #174
Hmm, crazy issue then ...

[2015-12-12 20:54] oberon2007 commented on #174
It's looking kind of random at the moment and I was not really able to nail down a reproducable situation for the issue. I suspect that when it happens also the notification for available language packs gets "swallowed" - so maybe that means that no icons at all are displayed maybe. In any case it appears to be an issue of **deepin-dock**.

[2015-12-12 21:54] oberon2007 opened #179 "right-click -> "open with ... Others" on Desktop not working"

[2015-12-13 02:59] fasheng commented on #178
Yes, I use the `Efflicient mode`, the highlight item changed is a little delay. And the more the applications opened, the longer the delay time.

[2015-12-13 03:01] felixonmars commented on #178
Oh, I forgot to mention that I am also using `Efficient mode`. Same issue for `Classic mode` though.

[2015-12-13 05:18] felixonmars commented on #179
+1 reproduced here.

[2015-12-13 05:52] felixonmars commented on #129
This is after ~20h, look at the CPU time:
![2015-12-13-134731-315607](https://cloud.githubusercontent.com/assets/1006477/11765747/9b2f6916-a1a0-11e5-934e-cfa4e5ea3447.png)

[2015-12-13 05:53] felixonmars commented on #162
This is after ~20h:
![2015-12-13-134731-315607](https://cloud.githubusercontent.com/assets/1006477/11765747/9b2f6916-a1a0-11e5-934e-cfa4e5ea3447.png)

[2015-12-13 12:13] pavlanton commented on #177
16:11:39 arch-anton dde-osd[1729]: Unsupported return type 65 QPixmap in method "grab"

[2015-12-13 16:39] felixonmars commented on #129
So I believe it is leaking memory too:
![2015-12-14-003835-6ff164](https://cloud.githubusercontent.com/assets/1006477/11768025/18345c96-a1fb-11e5-9382-af293bf6cf7e.png)

[2015-12-13 16:40] felixonmars commented on #162
Another ~11h later:
![2015-12-14-003835-6ff164](https://cloud.githubusercontent.com/assets/1006477/11768036/49e2ac84-a1fb-11e5-91ec-8c2e404faa5b.png)

[2015-12-13 16:51] felixonmars commented on #168
Sometimes the Dropbox icon shows after really long time, but I didn't find a stable way for this yet.

[2015-12-13 17:11] oberon2007 commented on #168
Sounds similar to [#174](https://github.com/fasheng/arch-deepin/issues/174) maybe?

[2015-12-13 18:21] oberon2007 commented on #98
manjaro-deepin-15.12 release candidate 1 is out :)
https://sourceforge.net/projects/manjaro-deepin/files/manjaro-deepin-15.12rc1/

[2015-12-14 00:52] fasheng commented on #98
:+1:

2015年12月14日 上午2:21, 上午2:21，在 Bernhard Landauer <notifications@github.com> 已写:

[2015-12-14 02:05] felixonmars commented on #168
Could be :P

[2015-12-14 05:39] fasheng commented on #129
Hmm, the upstream fixed one similar issue caused by xgb/xbgutils which is out of date. But for arch, we always use the latest code..

[2015-12-14 06:01] fasheng commented on #177
Sorry for the trouble.
So you mean changing keyboard layout to `Russian (Czech, phonetic)` not works. We will debug it soon.

[2015-12-14 06:23] felixonmars commented on #169
Fixed.

[2015-12-14 06:23] #169 closed

[2015-12-14 06:39] fasheng opened #180 "Disable deepin-menu syslogs when compiling"
Please use `qmake-qt5 DEFINES+=QT_NO_DEBUG_OUTPUT` in deepin-menu/PKGBUILD instead to turn off `qDebug()`.

[2015-12-14 07:54] felixonmars commented on #180
Updated with deepin-menu 2.90.2-2.

[2015-12-14 07:54] #180 closed

[2015-12-14 07:55] felixonmars commented on #159
Fixed with #180.

[2015-12-14 07:55] #159 closed

[2015-12-14 07:58] fasheng commented on #180
Thanks. Forgot checking the exsiting issues just now :P

[2015-12-14 08:34] oberon2007 commented on #122
Why have you removed the upstream label? Running Deepin official ISO just now. It has the same issue ;)

[2015-12-14 09:17] fasheng commented on #122
Because most of the issues are caused by upstream(through it works well in official ISO), and I think each issue should not own too much labels, so just remove it :P

[2015-12-14 09:18] fasheng commented on #122
@sbwtw Help ;)

[2015-12-14 09:19] fasheng commented on #122
The same issue https://github.com/linuxdeepin/dde-control-center/issues/6

[2015-12-14 10:09] sbwtw commented on #122
this bug not fix completely in upstream, its just fallback to default
icon (/var/lib/AccountService/icons/default.png)

On 12/14/2015 05:19 PM, fasheng wrote:

--
*石博文*

[2015-12-14 12:30] oberon2007 commented on #122
Thanks for the info! @felixonmars could you please upd **deepin-account-faces** to (commit 799e6aa)[https://github.com/linuxdeepin/dde-account-faces/commit/799e6aa0605167bab6b283aa1114c8aee555a45f] for a preliminary fix?

[2015-12-14 13:42] felixonmars commented on #122
Updated: deepin-account-faces 1.0.9.20151210-1

[2015-12-14 14:44] oberon2007 commented on #122
Thanks a lot! :) Working as expected.

[2015-12-14 18:42] oberon2007 opened #181 "launch deepin-wm-multitaskingview from dock not working"
Like with [this issue](https://github.com/fasheng/arch-deepin/issues/174#issuecomment-164162150) it works after restarting **deepin-dock**. Therefor unfortunately have not been able to collect any terminal output sofar... ;)

[2015-12-14 18:44] oberon2007 commented on #181
After logout and relog this issue seems to be present every time here.

[2015-12-15 01:27] zhuzilinuser opened #182 "设置网络以后，点击保存没有反应。"
手动设置网络信息，点击保存，没有反应，依旧停留在编辑页面。

[2015-12-15 06:48] fasheng commented on #153
The patch was merged now. :)
https://cr.deepin.io/#/c/9444/

[2015-12-16 09:14] fasheng commented on #177
OK, this is caused by the block gsettings signals in gccgo, will be fixed after `go-gir-generator` updated.

[2015-12-16 16:28] pavlanton opened #183 "Repeate items for the default timezone"
![deepinscreenshot20151223214947](https://cloud.githubusercontent.com/assets/3049011/11977642/80930082-a9bf-11e5-9b2c-5f7c5ea9835d.png)

[2015-12-16 16:33] pavlanton commented on #183
https://github.com/linuxdeepin/dde-daemon/blob/release/3.0/timedate/deepin_list.go rows 13-14

[2015-12-16 17:18] pavlanton commented on #177
Thank you. Wait )))

[2015-12-16 18:26] pavlanton commented on #174
Dropbox icon and pamac-tray and multitasking view work fine Arch-linux + deepin

[2015-12-16 18:46] oberon2007 commented on #174
Sometimes, yes. But not reliably! When it doesn't I have to ``pkill dde-dock`` and when it restarts it works again. Sometimes the issue is triggered by relogging.

[2015-12-16 20:13] pavlanton commented on #173
In Nautilus "Set desctop wallpaper". Not work but after rebooting add picture )))

[2015-12-16 21:32] pavlanton commented on #168
Dropbox 3.12.5 work all time

[2015-12-17 00:47] pavlanton opened #184 "Bug dde-session-daemon CPU and memory"
Dec 16 23:28:18 arch-anton com.deepin.daemon.helper.Backlight[409]: set_backlight to 0.836713(784) (driver:/sys/devices/pci0000:00/0000:00:02.0/drm/card0/card0-eDP-1/intel_backlight)
Dec 16 23:28:18 arch-anton com.deepin.daemon.helper.Backlight[409]: set_backlight to 0.836713(784) (driver:/sys/devices/pci0000:00/0000:00:02.0/drm/card0/card0-eDP-1/intel_backlight)
Dec 16 23:28:18 arch-anton com.dee

[2015-12-17 01:29] fasheng commented on #183
Looks caused by the gsettings issue, too.

[2015-12-17 01:35] #160 closed

[2015-12-17 01:37] fasheng commented on #146
Should solved now.

[2015-12-17 01:37] #146 closed

[2015-12-17 01:41] fasheng commented on #121
@felixonmars
Should solved now. Please have a review.

[2015-12-17 01:42] fasheng commented on #120
Should be caused by the gsettings signal issue for gccgo.

[2015-12-17 01:43] #90 closed

[2015-12-17 01:46] fasheng opened #185 "GSettings signal blocked in gccgo under archlinux"
This will caused many setting issues in control center and dock.

Looks [go-gir-generator](https://github.com/linuxdeepin/go-gir-generator) is ready now, let's use it and will fix such issues.

https://github.com/fasheng/arch-deepin/issues/227
https://github.com/fasheng/arch-deepin/issues/177
https://github.com/fasheng/arch-deepin/issues/120

[2015-12-17 01:48] felixonmars commented on #121
Did not reproduce for quite some time already. Closing for now.

[2015-12-17 07:54] felixonmars commented on #185
Updated in today's package set ([community-testing])

[2015-12-17 09:05] pavlanton opened #186 "After update of system launcher dont work"
Dec 17 10:56:54 arch-anton systemd-coredump[1195]: Process 1183 (dde-launcher) of user 1000 dumped core.

                                                   Stack trace of thread 1183:
                                                   #0  0x00007fc2b5965d20 _ZN10QByteArray7replaceEPKciS1_i (libQt5Core.so.5)
                                                   #1  0x000000000042bfcb n/a (dde-launche

[2015-12-17 09:08] pavlanton commented on #186
DBus.Error.ServiceUnknown:The name com.deepin.store.Api was not provided by any .service files
Dec 17 11:06:29 arch-anton kernel: dde-launcher[1455]: segfault at 7ffc56483ff0 ip 00007f6210a0ad20 sp 00007ffc56483fd0 error 6 in libQt5Core.so.5.5.1[7f621095e000+4c3000DBus.Error.ServiceUnknown:The name com.deepin.store.Api was not provided by any .service files
Dec 17 11:06:29 arch-anton kernel: dde-l

[2015-12-17 09:47] pavlanton commented on #186
Time zone not fix. Keyboard layout not fix.

[2015-12-17 09:54] fasheng commented on #186
Thanks for the report.

But it works for me. And I test the the latest commit in git repo, it works, too. (I use the [community] but could not upgrade now for the network issue).

@felixonmars, have you encountered such problem?

[2015-12-17 09:56] felixonmars commented on #186
No, I never got similar issues here :/

[2015-12-17 10:00] pavlanton commented on #186
Ok. Thanks. Not other on this moment. Corner navigation not work after 5-10 minets for control panel. But that was been

[2015-12-17 10:03] felixonmars commented on #186
dde-control-panel takes 100% CPU and doesn't react to either mouse action or dbus messages after a certain period of time. This has been a problem here as well since the very beginning of packages in [community].

[2015-12-17 12:10] felixonmars commented on #153
Implemented in 2.92.3.20151217-1.

[2015-12-17 12:10] #153 closed

[2015-12-17 12:12] felixonmars commented on #154
Not reproduced for quite some time, should have been fixed upstream.

[2015-12-17 12:12] #154 closed

[2015-12-17 17:28] pavlanton commented on #184
not fixed

[2015-12-17 21:44] MinaTheLoli opened #187 "Arch Lnux - gcc/libs confilct with gcc/libs-multilib"
Actual there are some conflicts with the gcc and gcc multilibs

[2015-12-17 22:43] oberon2007 commented on #187
You don't need **gcc**.
I have only installed:
[code]

[2015-12-17 23:35] oberon2007 opened #188 "no sound settings available"
Sound is working fine on my system and I can adjust the settings without problem with **pavucontrol**.
However the sound tab in my control center is completely empty. The dock has a working volume control but the line for "device" is an empty line.
[code]

[2015-12-18 08:45] MinaTheLoli commented on #187
thats strange cause pacman wants thet gcc multilib gets replaced with gcc

[2015-12-18 08:49] felixonmars commented on #187
Is your mirror up-to-date? There was some inconsistency between the normal and multilib flavor of gcc series, and was fixed after several hours. Please try to upgrade again, or maybe look for a new mirror.

[2015-12-18 08:49] felixonmars commented on #187
BTW, if you have [community-testing] enabled, you don't need to have gcc-go installed anymore since libgo has been moved into gcc-libs/gcc-libs-multilib.

[2015-12-18 10:19] MinaTheLoli commented on #187
updated my mirrors but its still in conflict

[2015-12-18 10:22] oberon2007 commented on #187
@MinaTheLoli just confirm the removal of **gcc-libs-multilib** as pacman suggests, then you should be fine.
@felixonmars manjaro repos automatically sync to [community]. I can copy over [community-testing] manually. Are you going to release them in the immediate future?

[2015-12-18 10:24] MinaTheLoli commented on #187
i need the multilibs for my gcc multilib for many of my lib32 libs

[2015-12-18 10:25] oberon2007 commented on #187
Sorry, @MinaTheLoli my other comment was rubbish. I already deleted that...

[2015-12-18 10:31] oberon2007 commented on #187
@MinaTheLoli I see no deepin packages that would depend on **gcc-libs** here, so I don't see why pacman would want to install that. What is the output of your ``yaourt -S --depends gcc-libs``?

[2015-12-18 10:34] MinaTheLoli commented on #187
u want the whole output?

[2015-12-18 10:34] oberon2007 commented on #187
see above. edited ;)

[2015-12-18 10:36] MinaTheLoli commented on #187
nothing..... thats very strange

[2015-12-18 12:08] oberon2007 commented on #188
Well, for ominous reasons this problem has disappeared ;)
Closing.

[2015-12-18 12:45] felixonmars commented on #187
@oberon2007 Yes, only waiting for a normal signoff process.

[2015-12-18 14:22] MinaTheLoli commented on #187
again, same gcc problem, idk whats the problem

[2015-12-18 16:00] MinaTheLoli commented on #187
nvm after an system update teh gcc problem was fixed :)

[2015-12-18 19:55] pavlanton opened #189 "Truble with Viber"
After install Viber with qt5 libs. Wallpapers is crashed with Themes

[2015-12-19 09:42] oberon2007 opened #190 "Theming broken for upstream changed the name from Deepin to deepin"
Updating to the latest packages in [community-testing] breaks the theming for me.
I have since removed all custom manjaro packages and replaced by latest arch-deepin pkgs, I've removed the whole folders **/usr/share/glib-2.0/schemas**, **/usr/share/themes**, **/usr/shar/personalization**, **~/.local/share/personalization** and reinstalled all packages owning the contents to no avail.
One bug I hav

[2015-12-19 09:56] oberon2007 commented on #190
I think I found the reason: deepin-icon-theme obviously still installs the icons to **/usr/share/icons/Deepin** instead of **deepin** which is used in the newest glib-settings!
Renaming the folder seems to solve my problem here.

[2015-12-19 10:47] oberon2007 commented on #187
I see: The problem **does** exist in [community-testin]: Some new packages depend on **gcc-libs>=5.3.0-3** For example [deepin-api](https://www.archlinux.org/packages/community-testing/x86_64/deepin-api/)

[2015-12-19 10:50] oberon2007 commented on #187
Maybe this is solved when the whole system is updated to [community-testing]. I cannot verify that, I was just trying to install all the new deepin packages from testing - this doesn't work out obviously ;)

[2015-12-19 11:01] oberon2007 commented on #190
Also it looks like in case you have been using the default theme when updating you will need to manually delete **~/.config/dconf/user** - Not sure how to resolve this by package update ...

[2015-12-19 13:16] felixonmars commented on #187
Yes. The new deepin package set requires new gcc-libs, and I'm going to hold them for a while until their Deepin -> deepin rename settled down.

[2015-12-20 09:22] beanaroo opened #191 "lightdm-deepin-greeter segfault related to libQt5core.so"
Fresh install of Arch Linux

dmesg:

    lightdm-deepin-[960]: segfault at 746c75 ip 00007f5394eb2dcf sp 00007ffe35acc890 error 4 in libQt5Core.so.5.5.1[7f5394d7e000+4c3000]

coredumpctl:

     Stack trace of thread 960:
          #0  0x00007f5394eb2dcf _ZN7QStringaSERKS_ (libQt5Core.so.5)
          #1  0x000000000044038a n/a (lightdm-deepin-greeter)
          #2  0x0000000000417ce0 main (lightdm-

[2015-12-20 09:31] felixonmars commented on #191
Please ensure that you have a fully-upgraded system, thank you.

[2015-12-20 09:41] beanaroo commented on #191
@felixonmars please elaborate. This is a fresh install. Not even one hour old. All packages latest.

[2015-12-20 09:50] felixonmars commented on #191
I see. I didn't get this problem myself, but probably you can upgrade again with [testing] and [community-testing] enabled to try out the latest package set.

[2015-12-20 10:52] beanaroo opened #192 "Sound Plugin not handling output profiles."
I have a single, enabled sound card so I am not sure but this could be related to issue #158.

On the Analog Stereo Duplex (Pulseaudio default), volume plugin works but does not display other outputs. In my case, I had not Analog plugged in, I have HDMI plugged in:
![deepin-sound-01](https://cloud.githubusercontent.com/assets/1748909/11917623/407a0dd0-a774-11e5-8e69-b4d98c4ba1d5.png)

I have to in

[2015-12-20 11:15] beanaroo commented on #191
Unfortunately still the same. Reproducible on a desktop and a laptop.

[2015-12-20 12:50] zhuzilinuser commented on #173
can work in the first few weeks, but  can't do it now.

[2015-12-20 21:28] pavlanton commented on #187
https://bbs.archlinux.org/viewtopic.php?id=150344

You're doing it wrong: Once you install ONE of the -multilib compiler packages, you need to use all of them instead of the core packages. Everything else is not supported:

gcc-ada-multilib
gcc-fortran-multilib
gcc-go-multilib
gcc-libs-multilib
gcc-multilib
gcc-objc-multilib
libtool-multilib

[2015-12-20 21:39] pavlanton commented on #189
Sory its not Viber...

[2015-12-20 21:49] #189 closed

[2015-12-20 22:18] oberon2007 commented on #187
I know. I'm not doing anything wrong, I'm just waiting until all the gcc packages are moved to [community] before that I have to download and install every single package manually ... ;)

[2015-12-21 03:38] fasheng commented on #192
@snyh Help ;)

[2015-12-21 03:47] fasheng commented on #67
Release candidates of Deepin 15 RC.

| Project                |    New Tag | Commit                                   |
|------------------------|------------|------------------------------------------  |
| go-gir-generator       |      0.9.1 | 6e53a3b74f2076b2f472920cd2bc1ae4752e0608 |
| deepin-artwork-themes  |    15.12.2 | 6c1c4f5bcbe070337352f634f8473a76e3efe59c |
| deepin-file-manager    |

[2015-12-21 04:00] fasheng commented on #184
Maybe the same with https://github.com/fasheng/arch-deepin/issues/162.

[2015-12-21 13:09] fasheng commented on #67
[code]

[2015-12-21 14:02] fasheng commented on #67
dde-control-center -> 2.91.6
libdui -> 1.2.5

[2015-12-21 14:15] fasheng commented on #67
dde-dock 2.90.5

[2015-12-21 16:08] felixonmars commented on #121
Reopening as it re-appears here with 15 RC packages.

Dec 22 00:07:05 flygon.felixc.at com.deepin.dde.ControlCenter[6871]: (dde-control-center:8459): GLib-GObject-WARNING **: cannot register existing type 'GdkDisplayManager'
Dec 22 00:07:05 flygon.felixc.at com.deepin.dde.ControlCenter[6871]: (dde-control-center:8459): GLib-CRITICAL **: g_once_init_leave: assertion 'result != 0' failed
Dec 22 00:0

[2015-12-21 16:11] felixonmars commented on #172
Appears to be fixed with 15 RC packages.

[2015-12-21 16:11] #172 closed

[2015-12-21 16:41] oberon2007 opened #193 "[deepin-artwork-themes] default background name"
@felixonmars , the PKGBUILD now installs the default background as **deepin_default_background.jpg** while [theme.ini](https://github.com/linuxdeepin/deepin-artwork-themes/blob/master/themes/deepin/theme.ini#L17) is pointing to **default_background.jpg**

[2015-12-21 17:04] fasheng commented on #79
Solved in `deepin-control-center-2.91.6-1`,  `deepin-daemon-2.93.5.20151221-1`.

[2015-12-21 17:04] #79 closed

[2015-12-21 17:04] fasheng commented on #138
Solved in `deepin-control-center-2.91.6-1`,  `deepin-daemon-2.93.5.20151221-1`.

[2015-12-21 17:04] #138 closed

[2015-12-21 17:04] fasheng commented on #175
Solved in `deepin-control-center-2.91.6-1`,  `deepin-daemon-2.93.5.20151221-1`.

[2015-12-21 17:04] #175 closed

[2015-12-21 17:04] fasheng commented on #182
Solved in `deepin-control-center-2.91.6-1`,  `deepin-daemon-2.93.5.20151221-1`.

[2015-12-21 17:04] #182 closed

[2015-12-21 17:41] #123 closed

[2015-12-21 17:42] fasheng commented on #183
Solved now.

[2015-12-21 17:45] fasheng commented on #186
@pavlanton How about now, does `deepin-launcher 2.90.4.20151221-1` broken again?

[2015-12-21 17:47] fasheng commented on #120
Looks solved now.

[2015-12-21 17:47] #120 closed

[2015-12-21 17:47] #119 closed

[2015-12-21 17:49] fasheng commented on #135
Closed. For the latest theming issue to see https://github.com/fasheng/arch-deepin/issues/190.

[2015-12-21 17:49] #135 closed

[2015-12-21 17:52] fasheng commented on #191
It works for me with the latest `deepin-session-ui 2.90.4-1` in [community], how about you @beanaroo ?

[2015-12-21 17:55] fasheng commented on #177
We use the latest `go-gir-generator` now, and some related issues were solved. But looks the keybord layout issue still there, so need more debugging later.

[2015-12-21 17:57] fasheng commented on #171
@felixonmars
Looks same with https://github.com/fasheng/arch-deepin/issues/123, could you repduct it again now?

[2015-12-21 18:00] fasheng commented on #193
I think it's just OK for we already renamed the background file `/usr/share/backgrounds/deepin_default_background.jpg` ;)

[2015-12-21 18:06] fasheng commented on #190
With the latest packages in [community], we still need do something manually to restore the themes.

`rm -rf ~/.local/share/personalization/`
or
`sed 's/Deepin/deepin/g' ~/.local/share/personalization/themes/Custom/theme.ini`

And re-enter the `Appearance` module, it should works then.

[2015-12-21 18:08] fasheng opened #194 "Dock icons broken"

[2015-12-21 18:12] felixonmars commented on #171
Couldn't reproduce now, let's close it :)

[2015-12-21 18:12] #171 closed

[2015-12-21 18:14] felixonmars commented on #187
All related packages moved to stable repos.

[2015-12-21 18:14] #187 closed

[2015-12-21 18:16] pavlanton opened #195 "Control-Panel User-account webcam not work (camera not found)"
Last update Control-Panel User-account webcam not work (camera not found)

[2015-12-21 18:21] pavlanton commented on #186
Thanks all work. what about layout??? Thank you for your works. Good system. i like it.

[2015-12-21 18:22] #186 closed

[2015-12-21 18:35] oberon2007 commented on #190
In certain case it will also be necessary to delete ``~/.config/dconf/user`` ;)

[2015-12-21 18:43] oberon2007 commented on #193
Yes you did. But as I say: **theme.ini** is pointing to **default_background.jpg** and the installed file is called **deepin_default_background**

[2015-12-21 22:10] pavlanton commented on #177
Not work ((

[2015-12-21 22:16] pavlanton commented on #195
Time zone is open ((

[2015-12-21 23:08] oberon2007 opened #196 "autocreated gtk-theme preview"
the preview thumbnails are created with black or white borders:
![windows](https://cloud.githubusercontent.com/assets/11800714/11943668/0a284c5c-a840-11e5-9d21-2ea70eb93b13.png)

[2015-12-21 23:52] oberon2007 commented on #143
fixed with **deepin-dock 2.90.5-1**

[2015-12-21 23:52] #143 closed

[2015-12-22 03:03] felixonmars opened #197 "Errors with latest icon theme"
[code]

[2015-12-22 08:21] oberon2007 opened #198 "new gtk-theme"
I liked the old gtk-theme with the dark grey window borders a lot more than the new one. :(
Now I have tried using the old package but that one seems to not play anymore with latest gtk versions.
I also have problems with any other themes I have tried sofar - either with Deepin or Deepin2D mode ...
Anyone has a suggestion for me how to get similar window borders as with Deepin 2014?

[2015-12-22 23:46] oberon2007 opened #199 "launching terminal app from launcher not working"
When I try to launch for example **htop** from the launcher, nothing happens.

[2015-12-23 06:24] fasheng commented on #198
Well, it's the new theme again...

For the old dark theme with 3.18 support, try this commit plese
https://github.com/linuxdeepin/deepin-gtk-theme/commit/320b08ccec72164526dcf0362aaebecdac5e599a

[2015-12-23 06:40] fasheng commented on #193
I see. Looks we gave a patch to **deepin-artwork-themes/theme.ini** but forgot the **deepin-desktop-schemas/99_deepin-default-gsettings.gschema.override**.

Here is the content in my machine:
[code]
[code]
@felixonmars

[2015-12-23 06:51] fasheng commented on #195
So "Time zon is open" means issue https://github.com/fasheng/arch-deepin/issues/183 is still there?

But I could remove the added timezone normal. Here is my steps, please have a check if something misunderstand:

1. Enter ControCenter/Date and Time module
2. Press the "+" button to add a new timezone
3. Select the "Niue" and press "Add"
4. Now "Niue" was in the list and select it will change the

[2015-12-23 06:58] felixonmars commented on #193
I think I need some more info here.

We have specified the `picture-uri` twice in this file:

[code]

and

[code]

Are both of them necessary? If I understand it correctly, the default GNOME desktop settings will be overriden if we set it for `org.gnome.desktop.background`, so why we need com.deepin.wrap etc?

[2015-12-23 07:19] oberon2007 commented on #195
Working fine for me, too, but I must say that it's really counter-intuitive that you have to select what you want to keep before pressing "-" (5.) Don't you think? ;-)

[2015-12-23 07:40] fasheng commented on #193
@felixonmars
Well, I grep the wrong `picture-uri` ...

So, yes, for this topic, we already patched all the related packages. And things works fine if don't care the broken `deepin-artwork-themes` which rename `Deepin` to `deepin`.

And for `picture-url` in `org.gnome.desktop.background`.  It's better give it a right value, too(at first I forgot). The origianl gnome-shell/mutter just use them.

@ob

[2015-12-23 07:58] fasheng commented on #195
Well, maybe @pavlanton is misled by the UI ...

[2015-12-23 08:02] oberon2007 commented on #193
I have no problems here anyway because I use custom packages **deepin-artwork-themes-manjaro** and **deepin-desktop-schemas-manjaro** and I install the default background from a different wallpaper package anyway.
I just wanted to let you know about what looks like a mistake to me when I look at your packages **deepin-artwork-themes** and  **deepin-desktop-schemas** :)

[2015-12-23 08:21] fasheng commented on #193
I see. I treat it as an issue at first. :)

Just let @felixonmars dispatch the `picture-url` in `org.gnome.desktop.background` and close it then~

[2015-12-23 08:34] felixonmars commented on #193
Ideally we should not touch anything in org.gnome, since we have a "wrap" anyway. How about unset the `picture-uri` in `org.gnome.desktop.background` for now?

[2015-12-23 08:45] fasheng commented on #193
No problem~

[2015-12-23 08:51] fasheng commented on #193
And I checked the `org.gnome.desktop.override` just now. Most of the settings could be ignored but the following ones if we want :
[code]
I will give a pat

[2015-12-23 08:52] fasheng commented on #193
Sorry for the wrong operation...

[2015-12-23 09:07] oberon2007 commented on #198
Hm. Well, not playing so nicely ... I am using **numix-archblue** now instead ;)

[2015-12-23 09:07] #198 closed

[2015-12-23 10:37] felixonmars commented on #67
deepin-wm-switcher -> 0.90.0

[2015-12-23 12:06] felixonmars commented on #67
deepin-metacity -> 3.18.1.3

[2015-12-23 13:33] oberon2007 commented on #98
It's online, the **first stable release of manjaro-deepin-15.12**
I am still waiting a bit with the official announcement until at least a few more people have tested this.
So, it would be great if you'd like to give it a try.
https://sourceforge.net/projects/manjaro-deepin/
Works now pretty smooth even in a virtualbox thanks to the new Deepin2D feature, awesome.
Cheers everyone! :)

[2015-12-23 13:38] fasheng commented on #98
Thanks for the great work. Downloading now.
Cheers!

[2015-12-23 13:44] pavlanton commented on #195
Sorry guys not work... I press add Nuie. and ))) i have two Nuie

[2015-12-23 13:45] pavlanton commented on #195
Its not problem... little bug )))

[2015-12-23 13:53] fasheng commented on #195
I see, it's the repeated items issue like this, right?
![deepinscreenshot20151223214947](https://cloud.githubusercontent.com/assets/3049011/11977642/80930082-a9bf-11e5-9b2c-5f7c5ea9835d.png)

[2015-12-23 14:01] oberon2007 commented on #162
Got something similar here but with **/usr/lib/deepin-daemon/deepin-file-manager-backend**
Happens immediately after startup before I even do anything else. Shortly after I took the screenshot MEM goes to 100% and the system becomes unresponsive and have to hard reset.
![deepinscreenshot20151223145413](https://cloud.githubusercontent.com/assets/11800714/11977759/0777606e-a986-11e5-8678-8d52d1337ef

[2015-12-23 14:17] oberon2007 opened #200 "wifi-icon sometimes not showing connection (efficient mode)"
with present and working wifi connection, sometimes the icon is showing 'no connection':
![wifi](https://cloud.githubusercontent.com/assets/11800714/11978004/3f7f6360-a988-11e5-90d7-a2ac84123c00.png)

[2015-12-23 14:18] felixonmars commented on #67
deepin-mutter -> 3.18.2.2

[2015-12-23 14:34] hualet commented on #199
oberon2007, what's your default terminal ? is it deepin-terminal ?

[2015-12-23 14:34] hualet commented on #199
fasheng, I don't think it's a bug of dde-launcher, it's a bug of deepin-terminal :/

[2015-12-23 14:35] oberon2007 commented on #199
Yes, deepin-terminal. I haven't changed anything there!

[2015-12-23 14:38] oberon2007 commented on #199
I don't know if it might be related to [this](https://github.com/linuxdeepin/deepin-terminal/issues/48) issue.
The difference is that with calling **htop** nothing happens, while with ``deepin-terminal -e sudo setup`` I can see the terminal briefly before it quits.

[2015-12-23 15:05] fasheng commented on #162
Hmm, looks there is a correlation between them...

[2015-12-23 15:10] hualet commented on #199
what happened if you set your default terminal to another terminal emulator ?